<!-- extend from about base layout -->
{% extends "templates/site.html" %}

{% block title %}: {% trans %}About the Site{% endtrans %}{% endblock %}

{% block body %}
  
  {% if proposicoes %}
  
  
 <div id="container">
	  
	
	<div class="col-md-3 sidePolitico"> 
	    <div id="guide_title">{% trans %}Veja mais{% endtrans %}</div>
		    
		    <a onclick="slide(this.id)" id="app0" class="app_links decision short icon tree_map">
		{% trans %}Informações Gerais{% endtrans %}</a>
		
		
		<a onclick="slide(this.id)" id="app1" class="app_links decision short icon tree_map">				
			{% trans %}Tramitações{% endtrans %}</a>
		
		<a onclick="slide(this.id)" id="app2" class="app_links decision short icon tree_map">
		 {% trans %}Opinião Pública{% endtrans %}</a>
		 
		{% if proposicoes.tipoproposicao.votacao_tipoproposicao==1 %}
			
			<a onclick="slide(this.id)" id="app3" class="app_links decision short icon tree_map">
			{% trans %}Votações{% endtrans %}</a>
			
			<a onclick="slide(this.id)" id="app4" class="app_links decision short icon tree_map">				
			{% trans %}Votações Detalhada{% endtrans %}</a>
			
		{% endif %}
		
		 
	
	</div>
	  
	  
	  
	<div class="col-md-9 ctPolitico"> 
	
	
		<div id="profile1" class="lightbox guide_app infoQd" style="width: 100%!important; height: auto;">	
			
		<h1>{{ proposicoes.sigla }} </h1>
				<h2>{% trans %}Proposição{% endtrans %} : {{ proposicoes.tipoproposicao.nome_tipoproposicao }} 					</h2>
				
				{% if proposicoes.candidaturas.name_pt %}
					<h2> {% trans %}Autor{% endtrans %}: {{ proposicoes.candidaturas.name_pt }}  </h2>
				{% endif %}
				
				
				{% if proposicoes.statusproposicao %}
					{% trans %}Status{% endtrans %}: 
					<input type="hidden" value="{{ proposicoes.status }}" id="hiddenstatus" />
					
					{{ proposicoes.statusproposicao.nome_statusproposicao }}
				{% endif %}
				<br/>
				
				<pre>{{ proposicoes.desc|trim }}]</pre>
		</div>
		
		  <div id="profile2" class="lightbox guide_app biografia profile_partido"
	
			style="">
			
			<h2>{% trans %}Tramitações{% endtrans %}</h2>
			
				   
			<iframe id="iframe2"
			alt="/proposicao/acao/{{ proposicoes.id }}?frame=true"
			style="width: 648px; height: 600px"> </iframe>  
			  
	    </div>
	      
	  <div id="profile3" class="lightbox guide_app biografia profile_partido"	style="">
			<h2>{% trans %}Opinião Pública{% endtrans %}</h2>
			
				 <div>
			  	 	<a href="/proposicao/avaliar/{{ proposicoes.id }}"> {% trans %}Dê sua opiniao{% endtrans %}    </a>
			  	</div>
				
				{% set listaVota = proposicoes.timevotacao.limit(10) %}
				     {% for timevotacao in listaVota %}
				     	{% set achou='True' %}
				     	
				     <hr/>
				     <div>
					     	{{ timevotacao.times.nome }} em {{ timevotacao.data }}, 
					     	
					     	{% trans %}votou{% endtrans %} 
							{% if timevotacao.voto == 1 %}
					       	{% trans %}Sim{% endtrans %}
					       
					       {% elif timevotacao.voto == 2 %}
					       	{% trans %}Não{% endtrans %}
					      
				       			
				       			{% else %}
				       			-
					       {% endif %}
					        <br/>
					     	{% trans %}Necessidade{% endtrans %}: {% include "proposicao/avaliarNota.html" %}<br/>
					     	<pre> {{ timevotacao.desc }}</pre>
				     </div>	
				     	
				     	
				     {% endfor %}
				     
				     {% if achou  %}
				     <div>
				     	{% trans %}Não existem comentários sobre esta proposição. Seja o primeiro a fazer!{% endtrans %}
				      </div>	
				     {% endif %}
		</div>
		
			{% if proposicoes.tipoproposicao.votacao_tipoproposicao==1 %}
					
				<div id="profile4" class="lightbox guide_app biografia profile_partido"
			
					style="">
					
					<h2>{% trans %}Votações{% endtrans %}  </h2>
					
					<iframe id="iframe4" 
					alt="/grafico/bubblesvotacoes/{{ proposicoes.id }}/" 
					style="width: 658px; min-height: 400px; "></iframe>
						    
					  
			    </div>
			    
				<div id="profile5" class="lightbox guide_app biografia profile_partido"
			
					style="">
					
					<h2>{% trans %}Votações Detalhada{% endtrans %}</h2>
					
						   
					<iframe id="iframe5"
					alt="/proposicao/listarvotacao/{{ proposicoes.id }}/all/true"
					style="width: 648px; height: 600px"> </iframe>  
					  
			    </div>
			    
			    
	    {% endif %}
	    
	
		
		
		
	</div>
    
    
	<script>

   var width = window.innerWidth-380,
        height = window.innerHeight-149,
        builds = {},
        sliding = false,
        selected = null,
        scrollinterval = null

    d3.selectAll(".guide_app")
      //.style("width",width+"px")
      //.style("height",height+"px")
      .each(function(){ 
        var p = this.id.substring(7),
            t = this.offsetTop-10 //78
        builds[p] = {"loaded": false, "top": t}
       
        if (p == 1) {
          load(p)
          select(p)
        }
      })
      
      initSlides();
  </script>
  
    {% else %}
		    A proposição não foi encontrada
		    {% endif %}
		    
{% endblock %}

</div>