<!-- extend from about base layout -->
{% if frame %}
	{% extends "templates/clean.html" %}
{% else %}
	{% extends "templates/site.html" %}
{% endif %}

{% block title %}: {% trans %}Votação{% endtrans %}{% endblock %}

{% block content %}
  
  {% if votacoes %}
   <table><tr>
  <td> {% trans %}Político{% endtrans %} </td>
   <td> {% trans %}Partido{% endtrans %} </td>
      <td> {% trans %}Voto{% endtrans %} </td>
     </tr>
     
     {% for votacao in votacoes %}
     	{% if votacao.candidaturas.name_pt  %}
		     <tr>
		     <td>
		     
		      {% if frame  %}	
				   			<a href="#" onclick="top.window.location='/politica/politico/{{ votacao.candidatura }}/'">
				   		
				   		{% else %}	
				   			<a href="/politica/politico/{{ votacao.candidatura }}/">
				   		{% endif %}	
		      {{ votacao.candidaturas.name_pt }}       </a>
		     </td>
		     
		     <td> 
		      <img style="border: 5px solid #f4f4f4;  		width: auto; height: 40px;" src="{{dominio}}/static/img/pecbrasil/partidos/{{ votacao.candidaturas.partidos.sigla|lower}}.jpg" width="50">
		   		<img src="{{dominio}}/static/img/icons/bra/bra_{{ votacao.candidaturas.uf|lower }}.png" style=" vertical-align: middle; 		height:40px"
					/>&nbsp;
		    
		     </td>
		     
		      <td>
		      {% include "proposicao/boxvoto.html" %}
		      </td>
		      </tr>
		 {% endif %}
    {% endfor %}
    </table>
    {% else %}
    {% trans %}Não foram encontradas proposições de autoria deste político{% endtrans %}
    {% endif %}
    
    
    
{% endblock %}

