<!-- extend from about base layout -->
{% extends "templates/about.html" %}

{% block title %}: {% trans %}Regras{% endtrans %}{% endblock %}

{% block about_content %}

<h1 style="color: #2ECC71">Regras</h1>

<p>Este é um jogo onde temos um campeonato e uma classificação dos melhores jogadores.<br />
São realizados 2 (dois) campeonatos por ano, um no primeiro semestre e outro no segundo semestre).<br />
Temos rodadas semanais, onde os dados de pontuação são atualizados e contabilizados aos times, sempre alterando o ranking com novidades.</p>

<p>&nbsp;</p>

<table border="0" cellpadding="0" cellspacing="0" style="background:none">
	<tbody>
		<tr>
			<td class="rtecenter"><img src="/static/img/pec/comofunciona_1.png" /></td>
			<td>1. A cada 7 (sete) dias, iniciamos a contagem dos pontos do jogo.</td>
		</tr>
		<tr>
			<td class="rtecenter"><img src="/static/img/pec/comofunciona_2.png" /></td>
			<td>2. Durante a semana, o sistema capta milhões de dados sobre a participação política de cada um dos políticos</td>
		</tr>
		<tr>
			<td class="rtecenter"><img src="/static/img/pec/comofunciona_3.png" /></td>
			<td>3. 25% dos candidatos, com a maior pontuação, são habilitados para participar da rodada</td>
		</tr>
		<tr>
			<td class="rtecenter"><img src="/static/img/pec/comofunciona_4.png" /></td>
			<td>4. Os jogadores escolhem sua seleção para a rodada baseando-se nas estatísticas e histórico de cada deputado</td>
		</tr>
		<tr>
			<td class="rtecenter"><img src="/static/img/pec/comofunciona_5.png" /></td>
			<td>5. Com seu time participe do ranking nacional e crie suas próprias ligas</td>
		</tr>
		<tr>
			<td class="rtecenter"><img src="/static/img/pec/comofunciona_6.png" /></td>
			<td>6. Acompanhe estatísticas dos políticos dos times de seus amigos e fique cada vez mais próximo da vida política!</td>
		</tr>
	</tbody>
</table>

<p>&nbsp;</p>



<h1 style="color: #2ECC71">PONTUAÇÃO:</h1>
<ol>
<li>Baixamos informações da Câmara Legislativa (www.camara.gov.br) e do Tribunal Superior Eleitoral (www.tse.gov.br).</li>

<li>Realizamos um tratamento das informações, com filtros relevantes para criar uma métrica de desempenho confiável;<br />
Captamos as seguintes informações:
<ul>
<li>Presença nas Sessões </li>
<li>Proposições realizadas</li>
<li>Processos am aberto</li>
<li>Gasto com o gabinete</li>
<li>Votações realizadas</li>
</ul>

Fazemos uma soma de cada um dos itens acima, agrupando por semana, o que chamamos de rodada.
<br />
Para calcular os pontos, fazemos da seguinte forma:
<br />
<ul>
<li>Pegamos o máximo de presença na semana</li>
<li>Pegamos também o menor número de presença encontrado para a semana</li>
<li>Pegamos o valor de presença do político em questão.</li>
<li>Aplicamos a fórmula: (Presença Deputado X - Presença Mínima) / Presença Máxima no mês do político e vemos qual sua frequência, dando um peso de 50% para o total da pontuaçãio.</li>
<li>Com as informações sobre o volume de proposições do deputado, podemos analisar sua participação ativa, considerando o peso de 50%.</li>
</ul></li>

<li>Com estes critérios, participando de todas as atividades, o político irá gerar no máximo 50 pontos por mês;</li>

<li>Temos também se o político tem aumentado seus pontos ou diminuído no último mês, além da pontuação que ele obteve na última semana.</li>

<li>Você pode trocar sua seleção a qualquer momento, toda pontuação é contabilizada de domingo para segunda.</li>
</ol>
<p><br />
Temos um ranking nacional aonde aparece sua seleção, apenas com o nome da seleção e a pontuação, sem mostrar informações pessoais.<br />
Veja o ranking dos times e toda semana acompanhe os pontos e evoluções dos políticos.<br />
&nbsp;<br />
Todos começam no nivel inicial e teremos desafios para aumentar nível dos jogadores, criando uma experiência divertida de jogo. Aproveite!</p>

<p>&nbsp;</p>




{% endblock %}
