{% if frame %}
{% else %}

	
	{% extends "templates/site.html" %} 
	
	{% block title %}
	
	{% trans %}Login{%
	endtrans %}
	{% endblock %} 
{% endif %}

{% block body %}
	
	<img src="/static/img/pec/cadastro1.png" border="0" />
	
	<br />
		<br />
		<h1 style="text-align: center">{% trans %}ESCOLHA UMA REDE SOCIAL PARA ENTRAR NO JOGO{% endtrans %}</h1>
		<br />
		<br />
		
	<div style="width: 450px;
		margin: 0 auto;
		height: 200px;">
		

		<form action="" method="post" name="login">
			
				{{ form.hidden_tag() }}
				
			{% for pr in providers %} <a id="{{ pr }}" class="login_button_social"
					href="javascript:;">&nbsp;</a> 
			{% endfor %}
		</form>
	</div>

<script type="text/javascript">
	d3.selectAll(".login_button_social").on(d3plus.evt.click, function() {
		var pr = this.id.toLowerCase()
		console.log(pr);
		form = document.forms['login'];
		form.elements['provider'].value = pr;
		this.parentNode.submit();
		d3.event.preventDefault();
		return false;
	})
</script>
{% endblock %}
