{% extends "templates/comunicado.html" %}


{% block title %}: {% trans %}Abertura de Campeonato{% endtrans %}{% endblock %}

{% block body %}
 
	
	<h1>Olá Sr.(a) Presidente(a) do time {{time.nome}}, </h1>
 <br/>
 <h3>Comunicamos a abertura do campeonato de 2014!</h3>
 <br/>
 
 
  
 <h3>No mês de março iniciou o campeonato e os os times já receberam pontos pela atuação dos políticos durante cada semana.</h3>
 
 <h3> Entre agora mesmo e já selecione os políticos que farão parte do seu time</h3>
 
 
 <h3> Convide seus amigos para que eles possam jogar com você e crie uma liga para competir com eles. </h3>
  
   <br/> 
   <h3>Entre no 
   <a href="http://politicaesporteclube.com">Política Esporte Clube</a> e deixa seu time ainda mais forte!</h3>
    <br/>
    Equipe Política Esporte Clube
    
{% endblock %}

