{% if frame %}
	{% extends "templates/clean.html" %}
{% else %}
	{% extends "templates/site.html" %}
{% endif %}



{% block body %}
 	 <h2>Convide seus amigos</h2>
 	 
 	 {{ erromsg }}
 	 
 	 {% if enviado %}
 	 	<h3>Sua mensagem foi enviado ao destino com sucesso, 
 	 	obrigado por fazer o Política Esporte Clube mais popular!!</h3>
	{% endif %}
 	 
	<form action="/comunicado/convideamigos/" method="post" name="convite">
	
		{{form.email(id="email", placeholder="E-mail. Ex.: joao@email.com , maria@email.com")}}
		<br/>
		{{form.obs(id="obs", placeholder="Mensagem. Ex: Olá joao, venha jogar comigo!!")}} 
		<br/>
		<input
			type="submit" value="{% trans %}Enviar{% endtrans %}" class="btn btn-info" />


		{{ form.hidden_tag() }}
		
	</form>
    
{% endblock %}

