{% extends "templates/comunicado.html" %}


{% block title %}: {% trans %}Convide Amigos{% endtrans %}{% endblock %}

{% block body %}
  <h1>{% trans %}Este é um convite do time {{ time.nome }} para você participar Política Esporte Clube{% endtrans %}</h1>
  

      <h2> Política Esporte Clube é um jogo que utiliza dados reais da participação dos políticos no nosso país.
      	
      	</h2>
      
       <h2> Crie um time e escolha os políticos com melhor pontuação. Toda semana daremos pontos aos times baseado 
       	na participação dos políticos que você selecinou.     	
      	</h2>
	
	
	 <br/> <br/>
   <h3>Entre no 
   <a href="http://politicaesporteclube.com">Política Esporte Clube</a> e deixa seu time ainda mais forte!</h3>
    <br/>
    Equipe Política Esporte Clube
{% endblock %}

