{% extends "templates/comunicado.html" %}


{% block title %}: {% trans %}Abertura de Campeonato{% endtrans %}{% endblock %}

{% block body %}
 
	
	<h1>Olá {{time.nome}}, </h1>
 <br/>
 <h2>Comunicamos que encontramos um erro grave que impossibilitava o jogador de continuar montando seu partido!</h2>
 <br/>
 
 
  
 <h3>Realizamos a correção deste problema e incluímos um mecanismo que irá nos alertar quando novos problemas ocorrerem.</h3>
 
 <h3> Garantimos que daqui em diante qualquer problema será corrigido em prazo máximo de 48 hrs.</h3>
 
 
 <h3> Pedimos desculpas pelo ocorrido e gostaríamos que voltasse a jogar, convidando seus amigos para participar! </h3>
  
   <br/> 
   <h3>Entre no 
   <a href="http://politicaesporteclube.com">Política Esporte Clube</a> e deixa seu time ainda mais forte!</h3>
    <br/>
    Equipe Política Esporte Clube
    
{% endblock %}

