{% extends "templates/comunicado.html" %}


{% block title %}: {% trans %}Retorno ao Jogo{% endtrans %}{% endblock %}

{% block body %}
 
	
	<h1>Olá {{fullname}}, </h1>
 <br/>
 <h3>Percebemos que você não joga há mais de um mês!</h3>
 <br/>
 
  
 <h3>Tem algo em que podemos ajudar para que o jogo fique ainda mais interessante?</h3>
 
 
 <h3>Acesse o Politica Esporte Clube ( politicaesporteclube.com ) e volte a jogar! 
 	A consciencia política que ganhamos ao jogar pode transformar nosso país!!</h3>
  
   <h3>Caso esteja com dificuldades, favor entrar em contato atrvés do formulário na página inicial do site.</h3> 
   
   <br/> <br/>
   <h3>Entre no 
   <a href="http://politicaesporteclube.com">Política Esporte Clube</a> e deixa seu time ainda mais forte!</h3>
    <br/>
    Equipe Política Esporte Clube
    
{% endblock %}

