{% extends "templates/comunicado.html" %}

{% block title %}: {% trans %}Pontuação da Rodada{% endtrans %}{% endblock %}

{% block body %}
 <h1>Olá {{time.nome}}, </h1>
 <br/>
 <h3>Comunicamos o fechamento da rodada {{rodada.semana}}/{{rodada.ano}} , entre os dias {{rodada.inicio}} e {{rodada.fim}}. <br/>
 Sua seleção fez {{ rodadaPontos.pontos }} pontos!!</h3>
 <br/>
 
 <h3> Veja quem está na sua seleção:</h3>
  <div style='width: 100%; float: left; margin-bottom: 35px;'>
 	{% set posicao = 0 %}
  {% for candidatoTmp in time.candidatos.all() %}
  	
  	 	{% set candidato = candidatoTmp.candidatos %}


   		{% set backCard = 'True' %}
   
   		{% set posicao = posicao + 1 %}
      	{% include "politica/boxpolitico.html" %}
  {% endfor %}
  </div>

  
 <h3>Aqui estão os políticos que mais pontuaram nesta rodada:</h3>
  <div style='width: 100%; float: left;'>
  {% set posicao = 0 %}
  
     {% for candidatoTmp in politicos %}
     {% set candidato = candidatoTmp[0] %}

   {% set backCard = 'True' %}
   
   		{% set posicao = posicao + 1 %}
      	{% include "politica/boxpolitico.html" %}
      
    
    {% endfor %}
   </div> 
   <br/> <br/>
   <h3>Entre no 
   <a href="http://politicaesporteclube.com">Política Esporte Clube</a> e deixa seu time ainda mais forte!</h3>
    <br/>
    Equipe Política Esporte Clube
{% endblock %}

