<!-- extend from about base layout -->
{% if frame %}
	{% extends "templates/clean.html" %}
{% else %}
	{% extends "templates/site.html" %}
{% endif %}

{% block title %}: {% trans %}Rodada{% endtrans %}{% endblock %}

{% block body %}
  <h1>{% trans %}Rodada{% endtrans %} {{ rodadas.semana }}/{{ rodadas.ano }}</h1>
  
    <h3><a href="/rodada/">{% trans %}Veja outras rodadas{% endtrans %}</a></h3>
    
<div class="container">


<div class="col-md-3 sidePolitico"> 
		
	<h1>{% trans %}veja mais{% endtrans %}</h1>
	    <a onclick="slide(this.id)" id="app0" class="app_links decision short icon tree_map">
	{% trans %}Informações Gerais{% endtrans %}</a>
		
	<a onclick="slide(this.id)" id="app2" class="app_links help short icon tree_map">
	{% trans %}Políticos que mais pontuaram{% endtrans %}</a>
	
	<a onclick="slide(this.id)" id="app3" class="app_links help short icon tree_map">
	 {% trans %}Times que mais pontuaram{% endtrans %} </a>
<!-- 
	<a onclick="slide(this.id)" id="app4" class="app_links help short icon tree_map">
	 Recordes da rodada </a>
	 -->
</div>


<div class="col-md-9 ctPolitico"> 

	<div id="profile0" class="lightbox guide_app infoQd" style="width: 100%!important; height: auto;">
		{% trans %}Início{% endtrans %}: {{ rodadas.inicio }} <br/>
		{% trans %}Fim{% endtrans %}: {{ rodadas.fim }}
		
	</div>
	
	<div id="profile2" class="profileFechado  guide_app ">
		<h2>{% trans %}Políticos que mais pontuaram{% endtrans %}<br> </h2>
		{% set iframeId = 'iframe2' %} 
		{% set anoOption = 'true' %}
		  {% set funcOption = 'false' %}

		<iframe id="iframe2"
			src="/pontos/pontuacaorodada/{{ rodadas.id }}/true"
			style="width:  648px!important; height: 600px"> </iframe>
	</div>


	<div id="profile3" class="profileFechado  guide_app "		>
		<h2>{% trans %}Times que mais pontuaram{% endtrans %}</h2>
		{% set iframeId = 'iframe3' %} 
			{% set anoOption = 'true' %}
		  {% set funcOption = 'false' %}
	<br>

		<iframe id="iframe3"
			alt="/pontos/rodada/{{ rodadas.id }}/true"
			style="width: 648px; height: 600px"> </iframe>
	</div>
	
	<!-- 
	<div id="profile4" class="profileFechado  guide_app ">
		 <h2>Recordes da rodada</h2>
		<br>
		<iframe id="iframe4"
		
			alt="/despesa/treemap/all/"
			style="width: 648px; height: 600px"> </iframe>
			<h4 class="actLegenda"> Legenda</h4>
			{% include "despesa/legenda.html" %}
	</div>
	 -->
	</div>
</div>



	<script>


	var width = window.innerWidth-380,
	    height = window.innerHeight-149,
	    builds = {},
	    sliding = false,
	    selected = null,
	    scrollinterval = null

	d3.selectAll(".guide_app")
	  //.style("width",width+"px")
	  //.style("height",height+"px")
	  .each(function(){ 
	    var p = this.id.substring(7),
	        t = this.offsetTop-10 //78
	    builds[p] = {"loaded": false, "top": t}
	   
	    if (p == 1) {
	      load(p)
	      select(p)
	    }
	  })
	  
	  initSlides();
  </script>
  
    
{% endblock %}

