<!-- extend from about base layout -->
{% extends "templates/site.html" %}

{% block title %}: {% trans %}Seleções{% endtrans %}{% endblock %}

{% block body %}
 
    <h2>{% trans %}Seleções{% endtrans %} </h2>
    
    <table style="width:100%;float: left;">
    <tr>
	     <td>{% trans %}Posição{% endtrans %} </td>
	     
	     <td>{% trans %}Nome do Time{% endtrans %}</td>
	      <td>{% trans %}Pontos{% endtrans %}</td>
	     <!--
	      <td>Presidente</td>
	       <td>Fundação</td>
-->
	</tr>
	{% set posicao =0 %}
     {% for t3Time in topTimes %}
     
     {% set posicao =posicao+1 %}
     <tr>
     
     <td>{{ posicao }} </td>
     
      <td>{{ t3Time.nome }} </td>
      
      
     <td>
     {% if t3Time.pontuacao_total %}
      {{ t3Time.pontuacao_total }} pts
      
      {% else %}
      	0 pts
      
      {% endif%}
      
      </td>

	</tr>
    {% endfor %}
    </table>
    
    
{% endblock %}

