<!-- extend from about base layout -->
{% extends "templates/site.html" %} 
{% block title %}:
{% trans %}Liga{% endtrans %}{% endblock %} 

{% block body %}
<div style="width: 40%;">
	
	<h1>{% trans %}Criar Liga{% endtrans %}</h1>

	<form id="ask_form" action="" method="post">
		{{ liga_form.nome(id="nome",
		placeholder="Nome da Liga - Ex. Liga Amigos do Escritório") }} 
		
		{{liga_form.desc(id="desc", placeholder="Descriçao Ex. Esta liga é composta por todos os amigos de trabalho da empresa PEC ...") }} 
		
		<p>{% trans %}Se deseja que o público em geral possa ver e entrar na sua liga{% endtrans %}</p>
		<input checked="checked" name="publico" type="checkbox" value="1" />
		<br/>
		<input
			type="submit" value="enviar" />
	</form>
</div>
<style>
#nome,#desc {
	width: 300px;
}
</style>
{% endblock %}

