<!-- extend from about base layout -->
{% extends "templates/site.html" %}

{% block title %}: {% trans %}Liga{% endtrans %}{% endblock %}

{% block body %}
  <h1>{% trans %}Ligas{% endtrans %}</h1>
  

      <h2> {% trans %}Nome{% endtrans %}: {{ liga.nome_liga }}</h2>
      
      
      {% trans %}Criado em{% endtrans %} {{ liga.data_liga }} 
      {% trans %}por{% endtrans %} {{ liga.criador_time.nome }}
      
       <br/>
    
    {% if liga.criador_time.id == meutime %}
  
  
	      {% if liga.publico_liga == 1 %}
	      {% trans %}Liga Pública{% endtrans %} (
	    	<a href="/liga/mudarvisivel/{{ liga.id_liga }}">{% trans %}Mudar para Privado{% endtrans %}</a>)
	    {% else %}
	    {% trans %}Liga Privada{% endtrans %} (
	    		<a href="/liga/mudarvisivel/{{ liga.id_liga }}">{% trans %}Mudar para Público{% endtrans %}</a>)
	    {% endif %}
	
    {% endif %}
     <br/>
      <pre>
     {{ liga.desc_liga }}
     
      
    
    </pre>
   
   
    
	 <div id="{{ divId }}_share_info"></div>
   
   
   {% if liga.criador_time.id == meutime %}
		     
		     
		<a href="#" onclick="if(confirm('{% trans %}Certeza que deseja excluir a liga{% endtrans %}?'))
			window.location='/liga/excluir/{{ liga.id_liga }}'">{% trans %}Excluir Liga{% endtrans %}</a>
		
		    -
    {% endif %}
    
    <a href="/liga/entrar/{{ liga.id_liga }}">{% trans %}Entrar na Liga{% endtrans %}</a>
    
 {% set divId='painelLiga'  %} 
    <br/>
     <div id="{{ divId }}_share_info"></div>
 <a href="#" onclick="addPopUpShare('{{ divId }}_share_info', '', '',share_url)">
 {% trans %}Compartilhe{% endtrans %}</a> {% trans %}com seus amigos para que conheçam esta liga{% endtrans %}
 <script>
 var pid = "#{{ divId }}_share_info"
 var share_url=document.URL//"{{share_url}}"
    
 </script>
 

    <br/>
    <!-- 
    
      {% if liga.publico_liga == 1 or liga.criador_time.id == meutime %}
      <form>
     <input type="text" name="email" value="email"/>
     <input type="button" name="email"/>
      <a href="/liga/convidar/{{ liga.id_liga }}">Convidar para Liga</a>
      </form>
      <br/>
	  {% endif %}
	 -->  
    
    <h2>{% trans %}Membros{% endtrans %}</h2>
 
     {% trans %}Veja abaixo os integrantes desta liga{% endtrans %}.
      <br/>
      <table>
      <tr>
      	<td>{% trans %}Seleção{% endtrans %}</td>
      	<td>{% trans %}Pontos na Liga{% endtrans %}</td>
      	<td>{% trans %}Pontuação Geral{% endtrans %}</td>
      	<td>{% trans %}Entrada{% endtrans %}</td>
      	{% if liga.criador_time.id == meutime %}
    
    		<td>{% trans %}Administrar{% endtrans %}</td>
    
    	{% endif %}
    	
      	</tr>
      	
      	
     {% for jogador in liga.ligajogador.all() %}
       <tr>
       	
       	<td>
	        <a href="/politica/selecao/{{ jogador.time.id }}">
	        {{ jogador.time.nome }}</a>
	      
	      {% if jogador.time.id == meutime %}  
	        <br/>-<br/>
	         <a 	
	         href="#"
	         
	         onclick="if(confirm('{% trans %}Certeza que deseja sair da liga? Se continuar perderá todos seus pontos conquistados na liga! Deseja continuar?{% endtrans %}'))
				window.location='/liga/sairliga/{{ liga.id_liga }}'"
			>
	        {% trans %}Sair da Liga{% endtrans %}</a>
	       {% endif %} 
        
        </td>
        
        
        <td>
		        {% if jogador.pontos_ligajogador %}        
		        	{{ jogador.pontos_ligajogador }} 
		        	{% else %}
		        	0 
		         {% endif %}          pts
        </td>
        	
        <td>
	        {% if jogador.time.pontuacao_total %}
	        
	        	{{ jogador.time.pontuacao_total }} 
	        	{% else %}
	        	0 
	         {% endif %}
	         pts
	         
	      </td>
	      
	      
        <td>
        	
        		{% trans %}Entrada{% endtrans %}: {{ jogador.data_ligajogador }}
 	 	</td>
  	{% if liga.criador_time.id == meutime %}
    
    		<td>
    			<a href="#" 
    			onclick="if(confirm('{% trans %}Certeza que deseja excluir o jogador da liga?{% endtrans %}'))
			window.location='/liga/excluirjogador/{{ liga.id_liga }}/{{ jogador.user_ligajogador }}'">
			{% trans %}Excluir Jogador{% endtrans %}</a>
	</td>
    
    	{% endif %}
  </tr>
  
    {% endfor %}
    
    </table>
    
    
    
<div id="profile2" class="lightbox guide_app"

		style="width: 668px!important; height: auto; background-color:#f1f1f1!important; border-radius: 5px; box-shadow: 0px 0px 1px #888; padding: 5px 10px;">
		<h2>{% trans %}Pontuação no Campeonato{% endtrans %}</h2>

		<iframe id="iframe2"
			src="/grafico/selecaostacked/all/{{ liga.id_liga }}"
			style="width:  648px!important; height: 600px"> </iframe>
	</div>
	
{% endblock %}

