{% if candidato %}
			   
	   <div id="boxPolitico" style="text-align: left;
		
		    border-radius: 5px;
		    float: left;
			min-height: 270px;
		   width: 162px;
			margin: 5px;
			height: 300px;
			position: relative;
			
				
		      -webkit-perspective: 648px;
		         -moz-perspective: 648px;
		           -o-perspective: 648px;
		              perspective: 648px;	">
	   <div class="card" style="-webkit-transition: 0.6s;
		    -webkit-transform-style: preserve-3d;
		    -moz-transition: 0.6s;
		    -moz-transform-style: preserve-3d;
		    transition: 0.6s;
		    transform-style: preserve-3d;
		    position: relative;
		    padding: 8px 1px 1px 8px;
			border: 5px solid rgb(244, 244, 244);
			box-shadow: 0px 2px 1px #888;
			height:290px;
			-webkit-perspective: 1000;
					-moz-perspective: 1000;
					perspective: 1000;">
		   <div class="frontCard" 
		   
		   style=" width: 152px;  z-index: 2;
		    height: 280px;
		    position: absolute;
		    overflow: hidden;
		    display:block;
					top: 0;
					left: 0;
					 -webkit-backface-visibility: hidden;
		         -moz-backface-visibility: hidden;
		           -o-backface-visibility: hidden;
		              backface-visibility: hidden;
		              background: url('{{dominio}}/static/img/pec/fotos/{{ candidato.politicos.id_original }}.jpg') no-repeat #f4f4f4; background-size: 100% 70%;">
	   
		   <div id="boxPoliticoPartido" style="width: 100%;
		float: left;
		  height: 20px;
		  font-size: 12px;">
		   	<div class="field-content">
		   		
		   		 
		   		{% if  iframe=='true'  %}	
		   			<a href="#" style="color: #444444;
		 font-size: 8pt;"
		   			onclick="top.window.location='{{dominio}}/politica/partido/{{ candidato.partidos.id }}'">
		   		
		   		{% else %}	
		   			<a href="{{dominio}}/politica/partido/{{ candidato.partidos.id }}" style="color: #444444;
		 font-size: 8pt;">
		   		{% endif %}	
		   		
		   		
		   		<img style="border: 5px solid #f4f4f4; position: absolute; top:0px; right:0px;top: 150px;   border: none;
		   		width: auto; height: 40px;" src="{{dominio}}/static/img/pecbrasil/partidos/{{ candidato.partidos.sigla|lower}}.jpg" width="50">
		   		</a>
		   		 
		   		
	
		   	</div>
		   
		   </div>
	   
	   	<!-- 	<div id="boxPoliticoCargo">Dep. Federal</div>  -->
	   
		   
		
	<div id="boxPoliticoInfo" style="font-size: 15px;
			margin-left: 0px;
			text-align: left;
			width: 90%;
			line-height: 15px;
			position: absolute;
			bottom: 0px;
			height: 78px;"> 
			{% if  iframe=='true'  %}
			   		<a href="#" 
		   			onclick="top.window.location='{{dominio}}/politica/politico/{{ candidato.id }}/'">
				{% else %}	
		   			<a href="{{dominio}}/politica/politico/{{ candidato.id }}">
		   		{% endif %} {{ candidato.politicos.nome|truncate(28,False,'') }}</a><br>
			<span style="font-size:9px; position:absolute; bottom:10px; left: 0px; margin-top:5px; display:inline-block; width:109px;">
				<img src="{{dominio}}/static/img/icons/bra/bra_{{ candidato.uf|lower }}.png" width="20px;"style=" vertical-align: middle; height:100%; border: none;"
					/>&nbsp;
		   		{{ candidato.cidade }}</span>
		</div>
		 
		<h5 id="boxPoliticoUltima" style="	color: #444444;
		position: absolute;
		bottom: 0px;
		right: 2px;
		width: 43px;
		font-family: Open Sans!important;">
					<div class="field-content" style="font-size: 14pt;
		 background-image: url("/static/img/pec/card_ponto_semanapassada.png");
		color: #DDDDDD;
		
		
		height: 43px;
		   text-align:center;
		    padding-top: 10px;
		    width: 43px;">
					{% if pontuacao_total %}
					
						{{ pontuacao_total }}
					
					{% else %}
					
						{{ candidato.pontuacao_total|int }}
					
					{% endif %}
					</div>
				</h5>
	
		</div>
		
	
{% endif %}


	</div>

</div>
