 <!-- pontuacao_total acaoBoxPolitico iframe backCard -->
{% if candidato %}
			   
	   <div id="boxPolitico" >
	   <div class="card">
		   <div class="frontCard" style="background: url('http://www.camara.gov.br/internet/deputado/bandep/{{ candidato.politicos.id_original }}.jpg') no-repeat #f4f4f4; background-size: 100% 70%;">
	   
		   <div id="boxPoliticoPartido">
		   	<div class="field-content">
		   		
		   		 
		   		{% if  iframe=='true'  %}	
		   			<a href="#" onclick="top.window.location='{{dominio}}/politica/partido/{{ candidato.partidos.id }}'">
		   		
		   		{% else %}	
		   			<a href="{{dominio}}/politica/partido/{{ candidato.partidos.id }}">
		   		{% endif %}	
		   		
		   		
		   		<img style="border: 5px solid #f4f4f4; position: absolute; top:0px; right:0px;top: 150px;   
		   		width: auto; height: 40px;" src="{{dominio}}/static/img/pecbrasil/partidos/{{ candidato.partidos.sigla|lower}}.jpg" width="50">
		   		</a>
		   		 
		   		
	
		   	</div>
		   
		   </div>
	   
	   	<!-- 	<div id="boxPoliticoCargo">Dep. Federal</div>  -->
	   
		   
	{% if posicao and posicao < 100 %}	
	
	{% endif %}
		



		
		
		
		<div id="boxPoliticoInfo"> 
			{% if  iframe=='true'  %}
			   		<a href="#" 
		   			onclick="top.window.location='{{dominio}}/politica/politico/{{ candidato.id }}/'">
				{% else %}	
		   			<a href="{{dominio}}/politica/politico/{{ candidato.id }}">
		   		{% endif %} {{ candidato.politicos.nome|truncate(28,False,'') }}</a><br>
			<span style="font-size:9px; position:absolute; bottom:10px; left: 0px; margin-top:5px; display:inline-block; width:109px;">
				<img src="{{dominio}}/static/img/icons/bra/bra_{{ candidato.uf|lower }}.png" width="20px;"style=" vertical-align: middle; height:100%;"
					/>&nbsp;
		   		{{ candidato.cidade }}</span>
		</div>
		 
		<h5 id="boxPoliticoUltima">
					<div class="field-content" >
					{% if pontuacao_total %}
					
						{{ pontuacao_total }}
					
					{% else %}
					
						{{ candidato.pontuacao_total|int }}
					
					{% endif %}
					</div>
				</h5>
	
		
		
	

		</div>
		
		
	
		
		<div class="backCard">
		
		
		
	{% if backCard %}
		
			<div class="boxCard votacoesBx">

					<span class="sideTlt"><i class="fa fa-check-square-o"></i> {% trans %}Votações{% endtrans %}</span>
					<br>
					<span class="sideVal boxVotacoes">
						<span class="valor">
							
							{{ candidato.total_votacao|int }} ( {{ candidato.porcentagem(candidato.total_votacao,rodada_atual.max_votacao)}} % )
							{% if rodada_atual %}
								<p style="font-size: 12px; display:none;">  {{ rodada_atual.min_votacao}} {% trans %}a{% endtrans %} {{ rodada_atual.max_votacao}} / {% trans %}média{% endtrans %}: {{ rodada_atual.avg_votacao}}</p>
							
							{% endif %}
						</span>
					</span>
			</div>
				<div class="boxCard presencasBx">
					<span class="sideTlt"><i class="fa fa-male"></i> {% trans %}Presenças{% endtrans %}</span>
					<br>
					<span class="sideVal boxVotacoes">
						<span class="valor">{{ candidato.total_presenca|int }} ( {{ candidato.porcentagem(candidato.total_presenca,rodada_atual.max_presenca)}} % )
							
						{% if rodada_atual %}
						<p style="font-size: 12px;display:none;">  {{ rodada_atual.min_presenca}} {% trans %}a{% endtrans %} {{ rodada_atual.max_presenca}} / {% trans %}média{% endtrans %}: {{ rodada_atual.avg_presenca}}</p>
						{% endif %}
						</span>
						
					</span>
				</div>
			
				<div class="boxCard proposicoesBx">
					<span class="sideTlt"><i class="fa fa-microphone"></i> {% trans %}Proposições{% endtrans %}</span>
					<br>
					<span class="sideVal boxVotacoes">
						<span class="valor">{{ candidato.total_proposicao|int }} (	{{ candidato.porcentagem(candidato.total_proposicao,rodada_atual.max_proposicao)}} % )
							
							{% if rodada_atual %}
						<p style="font-size: 12px;display:none;">  {{ rodada_atual.min_proposicao}} {% trans %}a{% endtrans %} {{ rodada_atual.max_proposicao}} / {% trans %}média{% endtrans %}: {{ rodada_atual.avg_proposicao}}</p>
						{% endif %}
						</span>
						
					</span>
				</div>
		
			
				<div class="boxCard despesasBx">
						<span class="sideTlt"><i class="fa fa-money"></i> {% trans %}Despesas{% endtrans %}</span>
						<br>
					<span class="sideVal boxVotacoes">
						<span class="valor">R$ {{ candidato.total_despesa|int }} ( {{ candidato.porcentagem(candidato.total_despesa,rodada_atual.max_despesa)}} % )
							
							{% if rodada_atual %}
						<p style="font-size: 12px;display:none;">  {{ rodada_atual.min_despesa}} {% trans %}a{% endtrans %} {{ rodada_atual.max_despesa}} / {% trans %}média{% endtrans %}: {{ rodada_atual.avg_despesa}}</p>
						{% endif %}
						
						</span>
					</span>
				</div>
		
		
		
		   
	{% endif %}
	
	
	
		
		
		   		
	{% if acaoBoxPolitico == 'alterar' %}
	     
 		<a href="{{dominio}}/politica/selecionar-politicos/{{ candidato.id }}/{{ posicao }}/false" class="vejaBx">
			<i class="fa fa-search"></i> 
				{% trans %}Alterar{% endtrans %}
				</a>
	
	

	{% elif acaoBoxPolitico == 'selecionar' %}
			{% set exists = [] %}
			
			{% if politicosSelecionados %}
				{% for timecandidato in politicosSelecionados.candidatos.all() %}
		
		
					{% if candidato.id == timecandidato.candidatura %}
					{% trans %}Selecionado!{% endtrans %}
						 {% if exists.append(1) %}{% endif %}
					{% endif %}
				{% endfor %}
				
				
			{% endif %}
			
				

			{% if not exists %}
				
			 	<a href="{{dominio}}/politica/selecionar-politicos/{{ candidato.id }}/{{ posicao }}/{{ gravar }}" class="vejaBx">
			{% trans %}Selecionar{% endtrans %}
				<i class="fa fa-search"></i> 
				</a>
			{% endif %}
		
	{% else %}
	<div style="float:left; height:30px; width: 100%">
				{% if  iframe=='true'  %}
	
			   		<a href="#" class="vejaBx"
		   			onclick="top.window.location='{{dominio}}/politica/politico/{{ candidato.id }}/'" >
				{% else %}	
		   			<a  href="{{dominio}}/politica/politico/{{ candidato.id }}" class="vejaBx">
		   				
		   		{% endif %} 
		   		
		   		<i class="fa fa-search"></i> 
		   		{% trans %}Veja mais{% endtrans %}</a>
		</div>
		   			
	{% endif %}
	
	</div>
	
{% endif %}


	</div>

</div>
