 <!-- pontuacao_total acaoBoxPolitico iframe backCard -->
   {% if time %}
			   
	   <div id="boxPolitico" >
	   <div class="card">
		   <div class="frontCard" 
		   
		   style="background: #f4f4f4; background-size: 100% 70%;"
		   
		   >
	   
		   <div id="boxPoliticoPartido">
		   	<div class="field-content">
		   		
		   		 
		   		{% if  iframe=='true'  %}	
		   			<a href="#" onclick="top.window.location='/politica/selecao/{{ time.id }}'">
		   		
		   		{% else %}	
		   			<a href="/politica/selecao/{{ time.id }}">
		   		{% endif %}	
		   		
		   	
		   		</a>
		   		 
		   		
	
		   	</div>
		   
		   </div>
	   		
		<div id="boxPoliticoInfo"> {% if  iframe=='true'  %}
			   		<a href="#" 
		   			onclick="top.window.location='/politica/politico/{{ time.id }}/'">
				{% else %}	
		   			<a href="/politica/politico/{{ time.id }}">
		   		{% endif %} {{ time.nome|truncate(28,False,'') }}</a><br>
	
		</div>
		 
		<h5 id="boxPoliticoUltima">
					<div class="field-content" >
					{% if pontuacao_total %}
					
						{{ pontuacao_total }}
					
					{% else %}
					
						{{ time.pontuacao_total|int }}
					
					{% endif %}
					</div>
				</h5>
	
		
		
	

		</div>
		
		
		{% if backCard %}
		
		<div class="backCard">
		
		
		
		
		<div class="boxCard">
				<span class="sideTlt">{% trans %}Votações{% endtrans %}</span>
					<span class="sideVal boxVotacoes">
						<span class="valor">{{ candidato.total_votacao|int }} 
						{% if rodada_atual %}
						/ {{ rodada_atual.max_votacao}}
						{% endif %}
						</span><br>
					</span>
				</div>
		
			<div style="float:left; height:30px; width: 120px">
			{% if  iframe=='true'  %}
			
					   		<a href="#" 
				   			onclick="top.window.location='/politica/politico/{{ candidato.id }}/'">
						{% else %}	
				   			<a  href="/politica/politico/{{ candidato.id }}">
				   		{% endif %} {% trans %}Veja mais{% endtrans %}!</a>
				   		</div>
				   		
				 
			
		   
	    {% endif %}
		</div>
	
	{% endif %}
	</div>

</div>
