<!-- extend from about base layout -->
{% extends "templates/site.html" %}

{% block title %}: {% trans %}Candidaturas{% endtrans %}{% endblock %}

{% block body %}
    
    <div style="width:100%;float: left;">
    
    <h1 style="display:inline-block; color:#27ae60;">Classificação</h1>
    
    <div class="col-md-12" style="font-size: 13px;">
    	{% trans %}Confira abaixo os 3 times mais pontuados no campeonato. Continue acompanhando e faça o seu time chegar aqui!{% endtrans %} 
    	
    </div>
   	
   	<div style="width:50%; display:none;float: right;">
    <h2>{% trans %}Estamos na rodada{% endtrans %} 
    	
    	{{ rodadaAtual.semana }}/{{ rodadaAtual.ano }}<br/> 
	{{ rodadaAtual.inicio }} a {{ rodadaAtual.fim }}</h2>
	<a href="/rodada/">{% trans %}Veja mais{% endtrans %}!</a>

	</div>
	<div class="col-md-12">
		<div style="padding: 29px 0px; font-family: 'MohaveBold'; font-size:35px; display:inline-table; width: 80px; height: 80px; background-color:#ffd700;color: #b39700;text-align: center;margin-top: 14px;">
			1º
		</div>
		<div style="padding: 29px 10px; font-family: 'MohaveRegular'; font-size:34px; display:inline-table; width: 630px; height: 81px; background-color:#f4f4f4; color:#333;text-align: left;margin-top: 14px;">
			{{ primeiroTime.nome }}
		</div>
		<div style="padding: 30px 0px; font-size:35px;font-family: 'MohaveBold'; color:white; text-shadow: 3px 3px 1px #27ae60; display:inline-table; width: 200px;line-height: 22px; height: 80px; background-color:#2ecc71;text-align: center;">
			{{ primeiroTime.pontuacao_total }}<br><span style="font-size:18px;">pontos</span>
		</div>
	</div>
	
	<div class="col-md-12">
		<div style="padding: 29px 0px; font-size:35px; font-family: 'MohaveBold'; display:inline-table; width: 80px; height: 80px; background-color:#ccc; color:#999;text-align: center;margin-top: 14px;">
			2º
		</div>
		<div style="padding: 29px 10px; font-family: 'MohaveRegular'; font-size:34px; display:inline-table; width: 630px; height: 81px; background-color:#f4f4f4; color:#333;text-align: left;margin-top: 14px;">
			{{ segundoTime.nome }}
		</div>
		<div style="padding: 30px 0px; font-size:35px;font-family: 'MohaveBold'; color:white; text-shadow: 3px 3px 1px #27ae60; display:inline-table; width: 200px;line-height: 22px; height: 80px; background-color:#2ecc71;text-align: center;">
			{{ segundoTime.pontuacao_total }}<br><span style="font-size:18px;">pontos</span>
		</div>
	</div>
	
	<div class="col-md-12">
		<div style="padding: 29px 0px; font-size:35px; font-family: 'MohaveBold'; display:inline-table; width: 80px; height: 80px; background-color:#cd7f32; color: #905923; text-align: center;margin-top: 14px;">
			3º
		</div>
		<div style="padding: 29px 10px; font-family: 'MohaveRegular'; font-size:34px; display:inline-table; width: 630px; height: 81px; background-color:#f4f4f4; color:#333;text-align: left;margin-top: 14px;">
			{{ terceiroTime.nome }}
		</div>
		<div style="padding: 30px 0px; font-size:35px;font-family: 'MohaveBold'; color:white; text-shadow: 3px 3px 1px #27ae60; display:inline-table; width: 200px;line-height: 22px; height: 80px; background-color:#2ecc71;text-align: center;">
			{{ terceiroTime.pontuacao_total }}<br><span style="font-size:18px; font-family: 'MohaveRegular'; ">pontos</span>
		</div>
	</div>
	
	
	
	
 
 <br/>
</div>
    
   
    <h2 style="margin-top:30px; font-size: 28px; display:inline-block; color:#666;">{% trans %}Ranking Completo{% endtrans %} </h2>
    
    <!-- 
    <table style="width:100%;float: left;">
     {% if verTime %}
	     
	     <tr>
	     <td>{{ verTime.id }}</td>
	     <td> {{ verTime.nome }} </td>
	     </tr>
	 {% endif %}
	 </table>
	 
    <table style="width:100%;float: left;">
    
      {% for tPartido in topPartidos %}
     <tr>
	     <td>{{ tPartido.id }} </td>
    {% endfor %}
    </tr>
    </table>
     -->
     
     
     
<div class="feed">
  
  <table style="width:100%;float: left;" class="table-condensed">
    <thead>
      <tr>
      	 <th>{% trans %}Posição{% endtrans %} </th>
	     
	     <th>{% trans %}Nome do Time{% endtrans %}</th>
	      <th>{% trans %}Pontos{% endtrans %}</th>
      </tr>
    </thead>
    <tbody>
    </tbody>
  </table>

</div>
     
     <script src="/static/js/utils/utils.infinite_scroll.js"></script>

<script>

function item_formatter(container_el, activities){
  
  var attrs_enter = d3.select(container_el).select("tbody").selectAll("tr")
    .data(activities, function(d){ return d.id; })
    .enter().append("tr")
    
	
 attrs_enter.append("td").text(function(d){ return d.posicao; })
  attrs_enter.append("td").text(function(d){ return d.nome; })
  attrs_enter.append("td").text(function(d){ return d.pontuacao_total; })
  
	
}

var is = infinite_scroll().format_items(item_formatter);

d3.select(".feed")
  .call(is.url("/attrs/time/"))
  
</script>


    
{% endblock %}

