<!-- extend from about base layout -->
{% extends "templates/site.html" %}

{% block title %}: {% trans %}Candidaturas{% endtrans %}{% endblock %}

{% block body %}


<Style>
	.destacados{
    padding: 10px 0;
	text-align: left;
	}
	.destacados > div > div{
		padding: 10px;
		border: 1px solid transparent;
		border-radius: 4px;
		transition: 0.2s;
		margin-bottom: 50px;
	}
	.destacados > div { height:153px; }
	.destacados p { font-size:13px; }
	.destacados > div:hover > div{
		margin-top: -10px;
		margin-bottom: 50px;
		border: 0px solid rgb(200, 200, 200);
		box-shadow: rgba(0, 0, 0, 0.1) 0px 2px 2px 1px;
		background: rgba(200, 200, 200, 0.1);
		transition: 0.5s;
	}
</Style>
    
<div style="width:100%;float: left;">
    
    <h1 style="display:inline-block; color:#27ae60;">{% trans %}CLASSIFICAÇÃO{% endtrans %}</h1>
    
    <div class="col-md-12" style="font-size: 13px;">
    	{% trans %}Confira abaixo os 3 times mais pontuados no campeonato. Continue acompanhando e faça o seu time chegar aqui!{% endtrans %} 
    	
    </div>
   	
   	<div style="width:50%; display:none;float: right;">
    <h2>{% trans %}Estamos na rodada{% endtrans %} 
    	
    	{{ rodadaAtual.semana }}/{{ rodadaAtual.ano }}<br/> 
	{{ rodadaAtual.inicio }} a {{ rodadaAtual.fim }}</h2>
	<a href="/rodada/">{% trans %}Veja mais{% endtrans %}!</a>

	</div>
	<div class="col-md-12">
		<div style="padding: 29px 0px; font-family: 'MohaveBold'; font-size:35px; display:inline-table; width: 80px; height: 80px; background-color:#ffd700;color: #b39700;text-align: center;margin-top: 14px;">
			1º
		</div>
		<div style="padding: 29px 10px; font-family: 'MohaveRegular'; font-size:34px; display:inline-table; width: 630px; height: 81px; background-color:#f4f4f4; color:#333;text-align: left;margin-top: 14px;">
			<a href="/politica/selecao/{{primeiroTime.id}}">{{ primeiroTime.nome }}</a>
		</div>
		<div style="padding: 29px 10px 3px 0px; font-family: 'MohaveBold'; font-size:34px; display:inline-table; width: 200px; background-color:#2ecc71; color:white; text-align: center; text-shadow: 3px 3px 1px #27ae60;">
			{{ primeiroTime.pontuacao_total }}<div style="font-size:18px;">pontos</div>
		</div>
	</div>
	
	<div class="col-md-12">
		<div style="padding: 29px 0px; font-size:35px; font-family: 'MohaveBold'; display:inline-table; width: 80px; height: 80px; background-color:#ccc; color:#999;text-align: center;margin-top: 14px;">
			2º
		</div>
		<div style="padding: 29px 10px; font-family: 'MohaveRegular'; font-size:34px; display:inline-table; width: 630px; height: 81px; background-color:#f4f4f4; color:#333;text-align: left;margin-top: 14px;">
			<a href="/politica/selecao/{{segundoTime.id}}">{{ segundoTime.nome }}</a>
		</div>
		<div style="padding: 29px 10px 3px 0px; font-family: 'MohaveBold'; font-size:34px; display:inline-table; width: 200px; background-color:#2ecc71; color:white; text-align: center; text-shadow: 3px 3px 1px #27ae60;">
			{{ segundoTime.pontuacao_total }}<div style="font-size:18px;">pontos</div>
		</div>
	</div>
	
	<div class="col-md-12">
		<div style="padding: 29px 0px; font-size:35px; font-family: 'MohaveBold'; display:inline-table; width: 80px; height: 80px; background-color:#cd7f32; color: #905923; text-align: center;margin-top: 14px;">
			3º
		</div>
		<div style="padding: 29px 10px; font-family: 'MohaveRegular'; font-size:34px; display:inline-table; width: 630px; height: 81px; background-color:#f4f4f4; color:#333;text-align: left;margin-top: 14px;">
			<a href="/politica/selecao/{{terceiroTime.id}}">{{ terceiroTime.nome }}</a>
		</div>
		<div style="padding: 29px 10px 3px 0px; font-family: 'MohaveBold'; font-size:34px; display:inline-table; width: 200px; background-color:#2ecc71; color:white; text-align: center; text-shadow: 3px 3px 1px #27ae60;">
			{{ terceiroTime.pontuacao_total }}<div style="font-size:18px;">pontos</div>
		</div>
	</div>
 
    <br style="clear:both;">  
    
	<div class="row destacados">
	    <h1 style="color:#27ae60;">{% trans %}Ranking completo{% endtrans %}</h1>
		{% for time in topTimes %}
			{% if time.pontuacao_total > 0 %}
			<div class="col-md-4">
				<div>
					<p><h4>{{ time.posicao }} - {{ time.nome }}</h4></p>
					<p>{{ time.pontuacao_total }} ponto(s)</p>
					<a href="/politica/selecao/{{ time.id }}" class="btn btn-info btn-xs" title="ver mais">{% trans %}veja mais{% endtrans %} »</a>
				</div>
			</div>
			{% endif %}
		{% endfor %}	
	</div>
</div>
    
    <!-- 
    <table style="width:100%;float: left;">
     {% if verTime %}
	     
	     <tr>
	     <td>{{ verTime.id }}</td>
	     <td> {{ verTime.nome }} </td>
	     </tr>
	 {% endif %}
	 </table>
	 
    <table style="width:100%;float: left;">
    
      {% for tPartido in topPartidos %}
     <tr>
	     <td>{{ tPartido.id }} </td>
    {% endfor %}
    </tr>
    </table>
     -->
     

     
  
{% endblock %}

