<!-- extend from about base layout -->
{% extends "templates/site.html" %} {% block title %}: {% trans %}About
the Site{% endtrans %}{% endblock %} {% block body %}
<div style="width: 40%;">
	<img src="/static/img/pec/cadastro2.png" border="0" />

	<h1>{% trans %}Criar Partido{% endtrans %}</h1>

	<form id="ask_form" action="" method="post">
		{{time_form.hidden_tag()}} {{ time_form.nome(id="nome",
		placeholder="Nome Ex. Partido do Joao Silva") }} {{
		time_form.desc(id="desc", placeholder="Descriçao Ex. Partido da Causa
		Social , seguindo orientação política de Esquerda e ...") }} 
		<!-- {{
		time_form.color(id="color", placeholder="Cor Ex. Vermelho") }} 
		 -->
		<input
			type="submit" value="enviar" />
	</form>
</div>
<style>
#nome,#desc {
	width: 300px;
}
</style>
{% endblock %}

