<!-- extend from about base layout -->
{% extends "templates/site.html" %} 

{% block body %}
<div style="width: 40%;">
	<img src="/static/img/pec/cadastro2.png" border="0" />

	<h1>{% trans %}Criar Partido{% endtrans %}</h1>

	<form id="ask_form" action="" method="post">
		{{time_form.hidden_tag()}} 
		
		{% if g.locale == 'en'%}
			{{ time_form.nome(id="nome",placeholder="Name of your party. Ex.: Party My Family") }} 
			{{		time_form.desc(id="desc", 
				placeholder="Description. Ex. My party is formed just by the best politicans and those that can change to a better place to live ...x") }}
		{% else %}
			{{ time_form.nome(id="nome",placeholder="Nome Ex. Partido do Joao Silva") }} 
			{{		time_form.desc(id="desc", placeholder="Descriçao Ex. Partido da Causa
			Social , seguindo orientação política de ...") }}
		{% endif %} 
		<!-- {{
		time_form.color(id="color", placeholder="Cor Ex. Vermelho") }} 
		 -->
		<input
			type="submit" value="enviar" />
	</form>
</div>
<style>
#nome,#desc {
	width: 300px;
}
</style>
{% endblock %}

