<!-- extend from about base layout -->
{% extends "templates/site.html" %} 

{% block title %}: 

{% trans %}Partido:  {% endtrans %}{{ partidos.name_pt }}

{% endblock %} {% block body %}


<div id="container">


<div class="col-md-3 sidePolitico"> 
    <div id="guide_title">{% trans %}Veja mais{% endtrans %}</div>
	    
	    <a onclick="slide(this.id)" id="app0" class="app_links decision short icon tree_map">
	{% trans %}Informações Gerais{% endtrans %}</a>
		
	<a onclick="slide(this.id)" id="app1" class="app_links decision short icon tree_map">
	
{% trans %}Participação do partido em todo campeonato{% endtrans %}</a>
	
	<a onclick="slide(this.id)" id="app2" class="app_links decision short icon tree_map">
	 {% trans %}Desempenho do partido na última rodada{% endtrans %}</a>
	 
	 
	 	<a onclick="slide(this.id)" id="app3" class="app_links decision short icon tree_map">
	 {% trans %}Dados dos políticos{% endtrans %}</a>
	 
	 	<a onclick="slide(this.id)" id="app4" class="app_links decision short icon tree_map">
	 {% trans %}Proposições{% endtrans %}</a>

</div>

<div class="col-md-9 ctPolitico"> 


	<div id="profile1" class="lightbox guide_app infoQd profile_partido" style="width: 100%!important; height: auto;">	
		<h1 id="app{{ partidos.id }}">{{ partidos.name_pt }} 
		</h1>
		
		<h2> {{	partidos.sigla }}</h2>
		
		
				<div style=" float: left;
		    height: 70px;
		    width: 100%;" >
			<br /></div>
	</div>
		
	<div id="profile2" class="lightbox guide_app biografia profile_partido"

		style="">
		<h2>{% trans %}Participação do partido em todo campeonato{% endtrans %}</h2>
		
				{% set iframeId = 'iframe2' %}
			{% include "grafico/painel.html" %}
			
			
		<iframe id="iframe2" alt="/grafico/stacked/{{ partidos.id }}"
			style="width: 100%; height: 500px"></iframe>
		
		
				<div style=" float: left;
		    height: 70px;
		    width: 100%;" >
			<br /></div>
	</div>		
	
	
	<div id="profile3" class="lightbox guide_app profile_partido">
	<h2>{% trans %}Desempenho do partido na última rodada{% endtrans %}</h2>
	
			
			{% set iframeId = 'iframe3' %}
			 {% set anoOption = 'false' %}
		  {% set funcOption = 'true' %}
		{% include "grafico/painel.html" %}
			
			
		<iframe id="iframe3" alt="/grafico/treemap/{{ partidos.id }}"
			style="width: 100%; height: 500px"></iframe>
	</div>

<!--
	<div id="profile4" class="lightbox guide_app profile_partido">
		<h2>{% trans %}Dados dos políticos{% endtrans %}</h2>
				
			{% set iframeId = 'iframe4' %}
			{% include "grafico/painel.html" %}
				
				
			<iframe id="iframe4" alt="/grafico/bubbles/{{ partidos.id }}"
				style="width: 100%; height: 500px"></iframe>
	</div>
-->
	<div id="profile5" class="lightbox guide_app profile_partido">
		<h2>{% trans %}Proposições{% endtrans %}</h2>
								
			<iframe id="iframe5" alt="/proposicao/listar/all/{{ partidos.id }}/true"
				style="width: 100%; height: 500px"></iframe>
	</div>
</div>


	<script>
      
    var width = window.innerWidth-380,
        height = window.innerHeight-149,
        builds = {},
        sliding = false,
        selected = null,
        scrollinterval = null

    d3.selectAll(".guide_app")
      //.style("width",width+"px")
      //.style("height",height+"px")
      .each(function(){ 
        var p = this.id.substring(7),
            t = this.offsetTop-10 //78
        builds[p] = {"loaded": false, "top": t}
       
        if (p == 1) {
          load(p)
          select(p)
        }
      })
  
  initSlides();
  </script>
  
  
</div>
{% endblock %}

