<!-- extend from about base layout -->
{% extends "templates/site.html" %}

{% block title %}: {% trans %}About the Site{% endtrans %}{% endblock %}

{% block body %}
  <h1 style="color: #27ae60">{% trans %}Partidos{% endtrans %}</h1>
  
 {% set iframeId = 'iframe2' %}
 {% set anoOption = 'true' %}
		  {% set funcOption = 'true' %}
{% include "grafico/painel.html" %}
  <iframe id="iframe2" src="/grafico/treemap/" 
	style="width: 1000px; height: 500px; margin-top:30px; box-shadow: 1px 1px 1px #888; border: 8px solid #f4f4f4;"></iframe>
	
	<div style=" float: left;
    height: 70px;
    width: 100%;" >
	<br /></div>
	
	
	<h2 style="color:#999">{% trans %}Todos os partidos{% endtrans %}</h2>
	<table class="table-condensed" style="font-family: 'Open Sans'; font-size: 15px;">
	<tr>
     <td>
     <h3 style='font-size:18px; color: #27ae60'>{% trans %}Sigla{% endtrans %}</h3>
      	
     </td>
     
     <td>
     <h3 style='font-size:18px; color: #27ae60'>{% trans %}Nome do Partido{% endtrans %}</h3>
      	
     </td>
      
      	</tr>
	
	
     {% for partido in partidoList %}
     <tr>
     <td>
     <a style='font-size:15px; color: #666' href="/politica/partido/{{ partido.id }}">
      	{{ partido.sigla }}</a>
      	
     </td>
     
     <td >
     <a style='font-size:15px; color: #666' href="/politica/partido/{{ partido.id }}">
      	{{ partido.name_pt }}</a>
      	
     </td>
      
      	</tr>
    {% endfor %}
    </table>
    
    
    
{% endblock %}

