<!-- extend from about base layout -->
{% extends "templates/site.html" %}

{% block title %}: {% trans %}About the Site{% endtrans %}{% endblock %}

{% block body %}
  
  <div style="text-align: center;">
  <div class="conteudo" style="text-align:left;">
  	<h1>{% trans %}Políticos{% endtrans %}</h1>
  	<div class="col-md-12">
  	<div class="col-md-8">
  	<span style="font-size:12px;">{% trans %}Filtrar{% endtrans %}:</span> 
  	<a class="btn btn-success btn-xs" href="/politica/politico/all/name_pt?orderdirec={{orderdirec}}&estado={{estado}}">{% trans %}Nome{% endtrans %}</a> 
  	<a class="btn btn-success btn-xs" href="/politica/politico/all/partido?orderdirec={{orderdirec}}&estado={{estado}}">{% trans %}Partido{% endtrans %}</a> 
  	<a class="btn btn-success btn-xs" href="/politica/politico/all/total_despesa?orderdirec={{orderdirec}}&estado={{estado}}">{% trans %}Despesa{% endtrans %}</a> 
  	<a class="btn btn-success btn-xs" href="/politica/politico/all/total_presenca?orderdirec={{orderdirec}}&estado={{estado}}">{% trans %}Presença{% endtrans %}</a> 
  	<a class="btn btn-success btn-xs" href="/politica/politico/all/total_proposicao?orderdirec={{orderdirec}}&estado={{estado}}">{% trans %}Proposição{% endtrans %}</a>  
  	<a class="btn btn-success btn-xs" href="/politica/politico/all/total_votacao?orderdirec={{orderdirec}}&estado={{estado}}">{% trans %}Votação{% endtrans %}</a>  
  	 
  	<a class="btn btn-success btn-xs" href="/politica/politico/all/pontuacao_total?orderdirec={{orderdirec}}&estado={{estado}}">{% trans %}Pontos{% endtrans %}</a> 
  	<a class="btn btn-success btn-xs" href="/politica/politico/all/pontuacao_ultima?orderdirec={{orderdirec}}&estado={{estado}}">{% trans %}Última Semana{% endtrans %}</a>
  	</div>
  	<div class="col-md-4">
  		<span style="font-size:12px;">{% trans %}Ordenar{% endtrans %}:</span> 
  	{% if orderdirec == "asc" %}
 	
 	
 	 <a class="btn btn-warning btn-xs" href="?orderdirec=desc&estado={{estado}}">{% trans %}Mais Pontos{% endtrans %}</a>
  	{% else %}
  		
 	
 	 <a class="btn btn-warning btn-xs"  href="?orderdirec=asc&estado={{estado}}">{% trans %}Menos pontos{% endtrans %}</a>
  	{% endif %}
  	</div>
  	<script>
  	var orderby="{{orderby}}";
  	var orderdirec="{{orderdirec}}";
  	var estado="{{estado}}";
  	</script>
  </div>
  	
  		<div class="col-md-12">
  	 
  	<div class="col-md-4 form-group">
  		<span style="font-size:12px;">{% trans %}Filtrar por estado{% endtrans %}:</span>
  	<select onchange="window.location=this.value" name="estado" style="font-size:15px; padding:5px; width:100%;" class="form-contol"> 
  	<option  value="/politica/politico/all/{{orderby}}?orderdirec={{orderdirec}}&estado=AC">Acre</option> 
  	<option value="/politica/politico/all/{{orderby}}?orderdirec={{orderdirec}}&estado=AL">Alagoas</option> 
  	<option value="/politica/politico/all/{{orderby}}?orderdirec={{orderdirec}}&estado=AM">Amazonas</option> 
  	<option value="/politica/politico/all/{{orderby}}?orderdirec={{orderdirec}}&estado=AP">Amapá</option> 
  	<option value="/politica/politico/all/{{orderby}}?orderdirec={{orderdirec}}&estado=BA">Bahia</option> 
  	<option value="/politica/politico/all/{{orderby}}?orderdirec={{orderdirec}}&estado=CE">Ceará</option> 
  	<option value="/politica/politico/all/{{orderby}}?orderdirec={{orderdirec}}&estado=DF">Distrito Federal</option>   	
  	<option value="/politica/politico/all/{{orderby}}?orderdirec={{orderdirec}}&estado=ES">Espírito Santo</option> 
  	<option value="/politica/politico/all/{{orderby}}?orderdirec={{orderdirec}}&estado=GO">Goiás</option> 
  	<option value="/politica/politico/all/{{orderby}}?orderdirec={{orderdirec}}&estado=MA">Maranhão</option>   	
  	<option value="/politica/politico/all/{{orderby}}?orderdirec={{orderdirec}}&estado=MG">Minas Gerais</option> 
  	<option value="/politica/politico/all/{{orderby}}?orderdirec={{orderdirec}}&estado=MT">Mato Grosso</option> 
  	<option value="/politica/politico/all/{{orderby}}?orderdirec={{orderdirec}}&estado=MS">Mato Grosso do Sul</option> 
  	<option value="/politica/politico/all/{{orderby}}?orderdirec={{orderdirec}}&estado=PA">Pará</option> 
  	<option value="/politica/politico/all/{{orderby}}?orderdirec={{orderdirec}}&estado=PE">Pernambuco</option> 
  	<option value="/politica/politico/all/{{orderby}}?orderdirec={{orderdirec}}&estado=PI">Piauí</option> 
  	<option value="/politica/politico/all/{{orderby}}?orderdirec={{orderdirec}}&estado=PR">Paraná</option> 
  	<option value="/politica/politico/all/{{orderby}}?orderdirec={{orderdirec}}&estado=RJ">Rio de Janeiro</option> 
  	<option value="/politica/politico/all/{{orderby}}?orderdirec={{orderdirec}}&estado=SC">Santa CatarinaC</option> 
  	<option value="/politica/politico/all/{{orderby}}?orderdirec={{orderdirec}}&estado=SE">Sergipe</option> 
  	<option value="/politica/politico/all/{{orderby}}?orderdirec={{orderdirec}}&estado=SP">São Paulo</option> 
  <option value="/politica/politico/all/{{orderby}}?orderdirec={{orderdirec}}&estado=RN">Rio Grande do Norte</option> 
  	<option value="/politica/politico/all/{{orderby}}?orderdirec={{orderdirec}}&estado=RO">Rondônia</option> 
  	<option value="/politica/politico/all/{{orderby}}?orderdirec={{orderdirec}}&estado=RR">Roraima</option>   	
  	<option value="/politica/politico/all/{{orderby}}?orderdirec={{orderdirec}}&estado=RS">Rio grande do Sul</option>   	
  		<option value="/politica/politico/all/{{orderby}}?orderdirec={{orderdirec}}&estado=TO">Tocantins</option> 
  </select>
  	</div>
  	<form action="/politica/politico/" method="post">
  	<div class="col-md-5 form-group">
  		<span style="font-size:12px;">{% trans %}Buscar por político{% endtrans %}:</span>
  	
  	{{form.hidden_tag()}}
  		<input type="text" name="nome" id="nome" style="display:inline-block; border-radius: 2px;" class="form-control" placeholder="Digite o nome do político" /> 
  		
  		
  	</div>
  	<div class="col-md-3" style="padding-left:0px!important;">
  		<br>
  		<input class="btn btn-primary btn-sm"  style="display:inline-block;"		 type="submit" value="{% trans %}Buscar{% endtrans %}" />
  		 
  	</div>
  	</form>
  	</div>
  	
  	{% if politicos %}
  {% set posicao = 0 %}
  
     {% for candidato in politicos %}
   {% set backCard = 'True' %}
   
   		{% set posicao = posicao + 1 %}
       	{% include "politica/boxpolitico.html" %}
      
    
    {% endfor %}
    
    {% else %}
    <br/>
    {% trans %}Não foram encontrados políticos nesta pesquisa{% endtrans %}.
    {% endif %}
   </div>
  
   <div class="feed">
   	
   	 <table style="width:100%;float: left;">
    <thead>
      <tr>
      	 <th>{% trans %}Posição{% endtrans %} </th>
	     
	     <th>{% trans %}Nome do Time{% endtrans %}</th>
	      <th>{% trans %}Pontos{% endtrans %}</th>
      </tr>
    </thead>
    <tbody>
    </tbody>
  </table>
   	
   </div>
   
    <script src="/static/js/utils/utils.infinite_scroll.js"></script>

<script>

function item_formatter(container_el, activities){
  
 
   var attrs_enter = d3.select(container_el).select("tbody").selectAll("tr")
    .data(activities, function(d){ return d.id; })
    .enter().append("tr")
    
	inicio = attrs_enter.append("td")
	card = inicio.append("div").attr("id","boxPoliticoPartido")
	.append("div")
	card.attr("class","field-content")
	
	frontCard=card.append("div")
	
	frontCard.attr("class","frontCard")
	frontCard.attr("style",
	
		function(d){ return "background: url('{{dominio}}/static/img/pec/fotos/"+d.id_original+".jpg') no-repeat #f4f4f4; background-size: 100% 70%;"; }
	)
	
	
	boxPoliticoPartido=frontCard.append("div").attr("id","boxPoliticoPartido")
	contboxPoliticoPartido = boxPoliticoPartido.append("div").attr("class","field-content")
	
		
		   	
		   		{% if  iframe=='true'  %}	
		   		link=contboxPoliticoPartido.append("a").attr("href","#")
		   		.attr("onclick",
					function(d){ return "top.window.location='{{dominio}}/politica/partido/"+d.partido; }
					
					)
		   		
		   		{% else %}	
		   		link=contboxPoliticoPartido.append("a").
		   		attr("href",
					function(d){ return "{{dominio}}/politica/partido/"+d.partido; }
					
					)
					
		   		{% endif %}	
		   		
		   		link.append("img")
		   		.attr("style","border: 5px solid #f4f4f4; position: absolute; top:0px; right:0px;top: 150px;   width: auto; height: 40px;")
		   		.attr("src",
					function(d){ return "{{dominio}}/static/img/pecbrasil/partidos/"+d.partido+".jpg"; }
					
					)
		   	
		   	
		   	boxPoliticoInfo=frontCard.append("div").attr("id","boxPoliticoInfo")
		   	
			   	{% if  iframe=='true'  %}
			   	contboxPoliticoInfo=boxPoliticoInfo.append("a").attr("href","#").attr("onclick",
						function(d){ return "top.window.location='{{dominio}}/politica/politico/"+d.id; }
						
						)
			   	{% else %}	
			   		contboxPoliticoInfo = boxPoliticoInfo.append("a").attr("href",
						function(d){ return "{{dominio}}/politica/politico/"+d.id; }
						
						)
					
				{% endif %} 
				
					contboxPoliticoInfo.text(function(d){ return d.name_pt; })
				spanBI = boxPoliticoInfo.append("span")
				.attr("style","font-size:9px; position:absolute; bottom:10px; left: 0px; margin-top:5px; display:inline-block; width:109px;")
				spanBI.append("img").attr("src",
						function(d){ return "{{dominio}}/static/img/icons/bra/bra_"+d.uf+".png"; }
						
					).attr("style","width: 20px; vertical-align: middle; height:100%;")
					.text(function(d){ return d.cidade; })
		
		
	
	
	  
 // $.get('http://localhost:8084/politica/boxpolitico/20',function(data){ attrs_enter.append("td").html(data)})
    
	
  
	
}

var is = infinite_scroll().format_items(item_formatter);

//d3.select(".feed").call(is.url("/attrs/candidatura/"))
  
</script>
   
   
</div>    
<!--
			
	
	
	 -->
{% endblock %}

