<!-- extend from about base layout -->
{% extends "templates/site.html" %}

{% block title %}: {% trans %}About the Site{% endtrans %}{% endblock %}

{% block body %}
  
  <div style="text-align: center;">
  <div class="conteudo" style="text-align:left;">
  	<h1>{% trans %}Políticos{% endtrans %}</h1>
  	
  	{% trans %}Ordernar por{% endtrans %}: 
  	<a href="/politica/politico/all/name_pt?orderdirec={{orderdirec}}&estado={{estado}}">{% trans %}Nome{% endtrans %}</a> - 
  	<a href="/politica/politico/all/partido?orderdirec={{orderdirec}}&estado={{estado}}">{% trans %}Partido{% endtrans %}</a> - 
  	<a href="/politica/politico/all/total_despesa?orderdirec={{orderdirec}}&estado={{estado}}">{% trans %}Despesa{% endtrans %}</a> -
  	<a href="/politica/politico/all/total_presenca?orderdirec={{orderdirec}}&estado={{estado}}">{% trans %}Presença{% endtrans %}</a> - 
  	<a href="/politica/politico/all/total_proposicao?orderdirec={{orderdirec}}&estado={{estado}}">{% trans %}Proposição{% endtrans %}</a> - 
  	<a href="/politica/politico/all/total_votacao?orderdirec={{orderdirec}}&estado={{estado}}">{% trans %}Votação{% endtrans %}</a> - 
  	 
  	<a href="/politica/politico/all/pontuacao_total?orderdirec={{orderdirec}}&estado={{estado}}">{% trans %}Pontos{% endtrans %}</a> - 
  	<a href="/politica/politico/all/pontuacao_ultima?orderdirec={{orderdirec}}&estado={{estado}}">{% trans %}Última Semana{% endtrans %}</a>
  	<br/>
  	
  	{% if orderdirec == "asc" %}
 	{% trans %}Ordenação crescente{% endtrans %} 
 	
 	- <a href="?orderdirec=desc&estado={{estado}}">{% trans %}Mudar sentido{% endtrans %}</a>
  	{% else %}
  		{% trans %}Ordenação decrescente{% endtrans %} 
 	
 	- <a href="?orderdirec=asc&estado={{estado}}">{% trans %}Mudar sentido{% endtrans %}</a>
  	{% endif %}
  	<script>
  	var orderby="{{orderby}}";
  	var orderdirec="{{orderdirec}}";
  	var estado="{{estado}}";
  	</script>
  	
  	
  	<br/>
  	Estado: 
  	<a href="/politica/politico/all/{{orderby}}?orderdirec={{orderdirec}}&estado=AC">AC</a> -
  	<a href="/politica/politico/all/{{orderby}}?orderdirec={{orderdirec}}&estado=AL">AL</a> -
  	<a href="/politica/politico/all/{{orderby}}?orderdirec={{orderdirec}}&estado=AM">AM</a> -
  	<a href="/politica/politico/all/{{orderby}}?orderdirec={{orderdirec}}&estado=AP">AP</a> -
  	<a href="/politica/politico/all/{{orderby}}?orderdirec={{orderdirec}}&estado=BA">BA</a> -
  	<a href="/politica/politico/all/{{orderby}}?orderdirec={{orderdirec}}&estado=CE">CE</a> -
  	<a href="/politica/politico/all/{{orderby}}?orderdirec={{orderdirec}}&estado=DF">DF</a> -  	
  	<a href="/politica/politico/all/{{orderby}}?orderdirec={{orderdirec}}&estado=ES">ES</a> -
  	<a href="/politica/politico/all/{{orderby}}?orderdirec={{orderdirec}}&estado=GO">GO</a> -
  	<a href="/politica/politico/all/{{orderby}}?orderdirec={{orderdirec}}&estado=MA">MA</a> -  	
  	<a href="/politica/politico/all/{{orderby}}?orderdirec={{orderdirec}}&estado=MG">MG</a> -
  	<a href="/politica/politico/all/{{orderby}}?orderdirec={{orderdirec}}&estado=MT">MT</a> -
  	<a href="/politica/politico/all/{{orderby}}?orderdirec={{orderdirec}}&estado=MS">MS</a> -
  	<a href="/politica/politico/all/{{orderby}}?orderdirec={{orderdirec}}&estado=PA">PA</a> -
  	<a href="/politica/politico/all/{{orderby}}?orderdirec={{orderdirec}}&estado=PE">PE</a> -
  	<a href="/politica/politico/all/{{orderby}}?orderdirec={{orderdirec}}&estado=PI">PI</a> -
  	<a href="/politica/politico/all/{{orderby}}?orderdirec={{orderdirec}}&estado=PR">PR</a> -
  	<a href="/politica/politico/all/{{orderby}}?orderdirec={{orderdirec}}&estado=RJ">RJ</a> -
  	<a href="/politica/politico/all/{{orderby}}?orderdirec={{orderdirec}}&estado=SC">SC</a> -
  	<a href="/politica/politico/all/{{orderby}}?orderdirec={{orderdirec}}&estado=SE">SE</a> -
  	<a href="/politica/politico/all/{{orderby}}?orderdirec={{orderdirec}}&estado=SP">SP</a> -
  <a href="/politica/politico/all/{{orderby}}?orderdirec={{orderdirec}}&estado=RN">RN</a> -
  	<a href="/politica/politico/all/{{orderby}}?orderdirec={{orderdirec}}&estado=RO">RO</a> -
  	<a href="/politica/politico/all/{{orderby}}?orderdirec={{orderdirec}}&estado=RR">RR</a> -  	
  	<a href="/politica/politico/all/{{orderby}}?orderdirec={{orderdirec}}&estado=RS">RS</a> -  	
  		<a href="/politica/politico/all/{{orderby}}?orderdirec={{orderdirec}}&estado=TO">TO</a> -
  	<br/>
  	
  	<div >
  	
  	<form action="/politica/politico/" method="post">
  	{{form.hidden_tag()}}
  		<input type="text" name="nome" id="nome" /> 
  		<input
  		 type="submit" value="{% trans %}buscar{% endtrans %}" />
  		 
  		</form>
  	</div>
  	
  	
  	{% if politicos %}
  {% set posicao = 0 %}
  
     {% for candidato in politicos %}
   {% set backCard = 'True' %}
   
   		{% set posicao = posicao + 1 %}
      	{% include "politica/boxpolitico.html" %}
      
    
    {% endfor %}
    
    {% else %}
    <br/>
    {% trans %}Não foram encontrados políticos nesta pesquisa{% endtrans %}.
    {% endif %}
   </div>
</div>    
{% endblock %}

