{% extends "templates/clean.html" %}

{% block content %}


<div id="profile0" class="lightbox guide_app"
		style="width: 900px; height: 250px;">
		
		<div id="titulo">
		<h1>{{ politicos.politicos.nome }}</h1>
	</div>
		

		<div id="candidato" style="float: left; width: 100%;">

			<div id="imagem" style="float: left; width: 130px;">
				<img
					src="http://www.camara.gov.br/internet/deputado/bandep/{{ politicos.politicos.id_original }}.jpg" />

			</div>

			<div id="subtitulo" style="float: left; width: 350px;">
				<a href="/politica/partido/{{ politicos.partidos.id }}"> {{
					politicos.partidos.name_pt }} - {{ politicos.partidos.sigla }} </a>
				<div id="contato">{% trans %}DEPUTADO FEDERAL{% endtrans %}</div>
				{% trans %}Total de Pontos{% endtrans %}: {{ politicos.pontuacao_total }} <br /> {% trans %}Pontos da{% endtrans %}
				{% trans %}Última Rodada{% endtrans %} : {{ politicos.pontuacao_ultima }} <br /> {% trans %}Votações{% endtrans %}:
				{{ politicos.total_votacao|int }}<br /> {% trans %}Presenças{% endtrans %}: {{
				politicos.total_presenca|int }}<br /> {% trans %}Processos{% endtrans %}: {{
				politicos.total_processo|int }}<br /> {% trans %}Proposiçoes{% endtrans %}: {{
				politicos.total_proposicao|int }}<br /> {% trans %}Despesas{% endtrans %}: {{
				politicos.total_despesa|int }}<br />

			</div>


			<div id="tendencia"
				style="float: left; width: 130px; margin-top: 32px;">{% set
				candidato = politicos %} {% include "politica/boxtendencia.html" %}</div>

			<div id="local" style="float: left; width: 30%;">

				<h3>{{ politicos.cidade }} / {{ politicos.uf }}</h3>
				<img src="/static/img/icons/bra/bra_{{ politicos.uf|lower }}.png"
					width="100px;" />

			</div>


		</div>
	</div>
	
	
{% endblock %}