<!-- extend from about base layout -->
{% extends "templates/site.html" %}

 {% block title %}: {% trans %}Meu Partido{% endtrans %}{% endblock %} 

{% block body %}

{% if time_id %}
<img src="/static/img/pec/cadastro4.png" border="0" />
{% endif %}

<h1>{% trans %}Seleção{% endtrans %} {{ time.nome }}</h1>
 

{% set posicao1=true %}
{% set posicao2=true %}
{% set posicao3=true %}
{% set posicao4=true %}

{% set acaoBoxPolitico = 'alterar' %} 
{% for candidatura in time.candidatos.all() %}
	 {% set candidato = candidatura.candidatos %} 
	 {%	set posicao = candidatura.posicao %} 
	 
	{% if posicao == 1 %}
		{% set posicao1=true %}
	{% endif %}
	{% if posicao == 2 %}
		{% set posicao2=true %}
	{% endif %}
	{% if posicao == 3 %}
		{% set posicao3=true %}
	{% endif %}
	{% if posicao == 4 %}
		{% set posicao4=true %}
	{% endif %}
	{% include	"politica/boxpolitico.html" %} 
{% endfor %}

<br />	

<div id="profile2" class="lightbox guide_app"

		style="width: 668px!important; height: auto; background-color:#f1f1f1!important; border-radius: 5px; box-shadow: 0px 0px 1px #888; padding: 5px 10px;">
		<h2>{% trans %}Pontuação no Campeonato{% endtrans %}</h2>

		<iframe id="iframe2"
			src="/grafico/selecaostacked/{{ time.id }}"
			style="width:  648px!important; height: 600px"> </iframe>
	</div>

{% endblock %}

