{% extends "templates/comunicado.html" %}


{% block title %}: {% trans %}Abertura de Campeonato{% endtrans %}{% endblock %}

{% block body %}
 
	
	<h1>Olá {{fullname}}, </h1>
 <br/>
 <h3>Notamos que você ainda não criou seu time para participar do campeonato de 2014!</h3>
 <br/>
 
  
 <h3>Acesse o Politica Esporte Clube ( politicaesporteclube.com ) e crie seu time agora mesmo, não perca a oportunidade de ser um dos ganhadores deste campeonato.</h3>
 
 
 <h3>Convide seus amigos para que eles possam jogar com você e crie uma liga para competir com eles. </h3>
  
   <h3>Caso esteja com dificuldades, favor entrar em contato atrvés do formulário na página inicial do site.</h3> 
   
   <br/> <br/>
   <h3>Entre no 
   <a href="http://politicaesporteclube.com">Política Esporte Clube</a> e deixa seu time ainda mais forte!</h3>
    <br/>
    Equipe Política Esporte Clube
    
{% endblock %}

