{% extends "templates/site.html" %}


{% block title %}: {% trans %}Comunicado enviado com sucesso{% endtrans %}{% endblock %}

{% block body %}
 <h1>{{titulo}}</h1>
	
 <h3>Sua mensagem foi enviado ao destino com sucesso, obrigado por fazer o Política Esporte Clube mais popular!!</h3>
 <br/>
 
   <br/> <br/>
   <h3>Entre no 
   <a href="http://politicaesporteclube.com">Política Esporte Clube</a> e deixa seu time ainda mais forte!</h3>
    <br/>
    Equipe Política Esporte Clube
    
{% endblock %}

