{% extends "templates/site.html" %}

{% block body %}

<form action="/proposicao/avaliar/{{proposicaoid}}" method="post">
	
	<br/>
		
	<h1> {% trans %}Avalia a proposição{% endtrans %}: 
	<a href="/proposicao/ver/{{ proposicoes.id }} ">{{ proposicoes.sigla }} </a></h1>
	
	
	<h2> {% trans %}Autor{% endtrans %} {{ proposicoes.candidatura }} </h2>
	
	{% trans %}Status{% endtrans %}: {{ proposicoes.status }}
	<br/>
	
	<pre>
	{{ proposicoes.desc }}
	</pre>
	<br/>
	{{ meuForm.hidden_tag() }}
	
	
	<h2>{% trans %}Qual é a sua opinião?{% endtrans %}</h2>
	<input type="radio" id="voto1" name="voto"  value="1" />
	<label for="voto1">Favor</label>
	<br/>
	
	
	<input type="radio" id="voto2" name="voto"  value="2"
	 />
	<label for="voto2">{% trans %}Contra{% endtrans %}</label>

	
	<br/><br/>
	
	<h2>{% trans %}Qual é a importância desta proposição para você?{% endtrans %}</h2>
	<input type="radio" id="necessidade1" name="necessidade"  value="1"	 />
	<label for="necessidade1">{% trans %}Péssimo{% endtrans %}</label>
	<br/>
	<input type="radio" id="necessidade2" name="necessidade"  value="2"	 />
	<label for="necessidade2">{% trans %}Ruim{% endtrans %}</label>
	<br/>
	<input type="radio" id="necessidade3" name="necessidade"  value="3"	 />
	<label for="necessidade3">{% trans %}Regular{% endtrans %}</label>
	<br/>
	<input type="radio" id="necessidade4" name="necessidade"  value="4"	 />
	<label for="necessidade4">{% trans %}Bom{% endtrans %}</label>
	<br/>
	<input type="radio" id="necessidade5" name="necessidade"  value="5"	 />
	<label for="necessidade5">{% trans %}Muito bom{% endtrans %}</label>
		
	<br/><br/>
	
	<h2>{% trans %}Deixe seu comentário{% endtrans %}</h2>
	{{ meuForm.desc() }}
	
	<br/>
	
	<input type="submit" value="Avaliar" />
</form>
{% endblock %}