<!-- extend from about base layout -->
{% extends "templates/clean.html" %}

{% block title %}: {% trans %}About the Site{% endtrans %}{% endblock %}

{% block content %}
  <h1>{% trans %}Processo{% endtrans %}</h1>
  
  {% if processos %}
   <table><tr>
  <td> candidatura </td>
      <td> processo </td>
       <td> status </td>
     <td> desc </td>
     </tr>
     
     {% for processo in processos %}
     <tr>
     <td>{{ processo.candidatura }}</td>
      <td>{{ processo.processo }}</td>
       <td>{{ processo.status }}</td>
     <td>{{ processo.desc }}</td>
      
      </tr>
    {% endfor %}
    </table>
    {% endif %}
    
    
    
{% endblock %}

