<!-- extend from about base layout -->
{% extends "templates/clean.html" %}

{% block title %}: {% trans %}About the Site{% endtrans %}{% endblock %}

{% block content %}
  <h1>{% trans %}Votações{% endtrans %}</h1>
  
  {% if votacoes %}
	   <table><tr>
	   <td> {% trans %}Proposição{% endtrans %} </td>
	       <td> {% trans %}Voto{% endtrans %} </td>
	       <!-- 
	     <td> data </td>
	      -->
	     </tr>
	     
	     {% for votacao in votacoes %}
	     <tr>
	     <td>{{ votacao.proposicoes.sigla }} <br/>
	     {{ votacao.proposicoes.desc|truncate(255,False,'') }} 
	     
	     </td>
	 <!--     <td>{{ votacao.candidatura }}</td> --> 
	       <td>
{% include "proposicao/boxvoto.html" %}	       

</td>
	     <!--  <td>-</td>  -->
	      
	      </tr>
	    {% endfor %}
	    </table>
	    {% else %}
	    {% trans %}Não foram encontrados votacoes para este politico{% endtrans %}
    {% endif %}
    
    
    
{% endblock %}


