{% extends "templates/clean.html" %}

{% block content %}

{% set divId = 'treemapDiv' %}
{% set func_value = '' %}
{% include "grafico/painelIframe.html" %}

	 
  	<script src="/static/js/src/viz/tree_map.js"></script>
  
<div id="treemapDiv" style="display: block" ></div>
  
  
  <script>
   partidoParam='{{ partido }}'
   politicoid=''   
   {% if politicoid %}
   	politicoid='{{ politicoid }}'
   {% endif %}
   
	if(partidoParam=='') {
		linkCandidatura='/attrs/candidatura'
		linkPontuacao='/attrs/pontuacao'
	}else{
		linkCandidatura='/attrs/candidatura/all/'+partidoParam
		linkPontuacao='/attrs/pontuacao/all/'+partidoParam
	}
		
  var viz = d3plus.viz()

	d3.json("/attrs/partido", function(partido){
	d3.json(linkCandidatura, function(attr){
	  d3.json(linkPontuacao, function(data){
	    
	  var attrs = {}
      attr.candidaturas.forEach(function(a){
        a.candidatura = a.id
        
        partido.partidos.forEach(function(p){
	          if(p.id == a.partido){
	          	a.partidoNome = p.name_pt
	          	a.partidoSigla = p.sigla
	          	a.color=p.color
	          }	
	          
          })	
        if(politicoid == a.candidatura){
	          	a.color='#000000'
	          }
       attrs[a.id] = a
   	})
   	
	  
	  inner_html = function(obj) {
          console.log(obj)
          var htmlnovo= "<iframe id='iframe3' src='/politica/boxpolitico/";
        	  htmlnovo+=obj+ "' style='width: 180px; height: 360px'></iframe>"
          return htmlnovo
        }
  
	  //var tooltips = {"": ["id","distance"],"other": ["val_usd","distance"]}
	   var tooltips = ["pontos","partidoNome","presenca","proposicao"]
      viz
        .type("tree_map")
        .id("candidatura")
        .attrs(attrs)
        .text_var("name_pt")
        .value("pontos")
        .color("color")
        .year_var("rodada_ano")
        //.font("Open Sans")
       // .font_weight("lighter")
        .year(2013)
         
		.click_function(inner_html)
          .aggs({"pontos":"mean","proposicao":"mean","presenca":"mean"
        	  ,"votacao":"mean","despesa":"mean","processo":"mean"})
   /*    .descs({
    	   "partidoNome": 
    	   	"This is the ID! It means what you would expect it to mean. Another really long setence with multiple random words.",
    	   "proposicao": "...value. duh."})
        */
      .tooltip_info(tooltips)
        //.tooltip_info([ "partidoNome","pontos","proposicao", "presenca", "votacao", "processo", "rodada","cidade","uf"])
        //.name_array(["name_pt","name_pt"])
        //.nesting(["partido","candidatura"])
        .depth(0)
        
      
      d3.select("#treemapDiv")
        .datum(data.pontuacoes)
        .call(viz)
	  
	  })
	})
})   
  
  </script>
  
{% endblock %}