<!-- extend from about base layout -->
{% extends "templates/about.html" %}

{% block title %}: {% trans %}About the Site{% endtrans %}{% endblock %}

{% block about_content %}
  

<h1><strong>{% trans %}O P.E.C. BRASIL É O JOGO QUE O PAÍS PRECISA{% endtrans %}</strong></h1>

<p>{% trans %}Eleja seus políticos e ganhe pontos a cada semana. Os pontos de cada representante é uma{% endtrans %}<br />
{% trans %}análise dos principais índices de contribuição na cena política nacional{% endtrans %}.</p>

<p>{% trans %}Contabilizando indicadores de assiduidade (presença no Congresso Nacional) e proposições, você pode selecionar os deputados{% endtrans %}<br />
{% trans %}que melhor lhe representa e acompanhar seu desempenho, semana a semana, conhecendo sobre sua carreira e acumulo de pontos!{% endtrans %}</p>

<h1>{% trans %}Curtiu? Jogue e compartilhe. O país agradece!{% endtrans %}</h1>

<p>&nbsp;</p>
    
    <h2><a href="/about/regras">{% trans %}REGRAS{% endtrans %}</a></h2>
{% endblock %}


