<!-- extend from about base layout -->
{% if frame %}
	{% extends "templates/clean.html" %}
{% else %}
	{% extends "templates/site.html" %}
{% endif %}

{% block title %}: {% trans %}Órgão{% endtrans %}{% endblock %}

{% block body %}
  
  {% if orgao %}
   <table>
   
   <tr>
  <td> Orgao </td>
      <td> Candidato </td>
       
     </tr>
     
     {% for org in orgao %}
     <tr>
    <td>
      {% if frame  %}	
		   			<a href="#" onclick="top.window.location='/orgao/ver/{{ org.orgao }}/'">
		   		
		   		{% else %}	
		   			<a href="/orgao/ver/{{ org.orgao }}/">
		   		{% endif %}	
		   		
      {{ org.sigla }}</a>
      </td>
       <td>
       
         {% if frame  %}	
		   			<a href="#" onclick="top.window.location='/politica/politico/{{ org.candidatura }}/'">
		   		
		   		{% else %}	
		   			<a href="/politica/politico/{{ org.candidatura }}/">
		   		{% endif %}	
       {{ org.candidaturas.name_pt }}
       </a>
       </td>
   
      
      </tr>
    {% endfor %}
    </table>
    {% else %}
    Não foram encontrados órgãos em que este político é membro
    {% endif %}
    
    
    
{% endblock %}

