{% if frame %}
	{% extends "templates/clean.html" %}
{% else %}
	{% extends "templates/site.html" %}
{% endif %}

{% block title %}: {% trans %}Pontuação nas Rodadas{% endtrans %}{% endblock %}

{% block body %}

 
	      {% set posicao = 0 %}
	      
     {% for rodada in rodadas %}
     
     
  
	      
	      
  {% set pontuacao_total = rodada[1].pontos %}
   {% set time = rodada[1].times %}
   		{% set posicao = posicao + 1 %}
      	{% include "politica/boxtime.html" %}
      
     
    {% endfor %}
    
    
    {% if not rodadas %}
    	{% trans %}<h1>Como não existem dados para este período, nenhum time pontuou nesta rodada.</h1>{% endtrans %}

	{% endif %}
    
{% endblock %}

