{% extends "templates/clean.html" %}

{% block content %}

 {% set divId = 'stackedDiv' %}
{% include "grafico/painelIframe.html" %}

 	<script src="/static/js/src/viz/stacked.js"></script>
 	<div id="stackedDiv"></div>
<script>

partidoParam='{{ partido }}'
	   politicoid=''   
	   {% if politicoid %}
	   	politicoid='{{ politicoid }}'
	   {% endif %}
	   
		if(partidoParam=='' && politicoid=='') {
			linkCandidatura='/attrs/candidatura'
			linkPontuacao='/attrs/despesa'
		}else if(partidoParam=='' && politicoid!=''){
			linkCandidatura='/attrs/candidatura/'+politicoid
			linkPontuacao='/attrs/despesa/'+politicoid
		}
		
		else{
			linkCandidatura='/attrs/candidatura/'+partidoParam
			linkPontuacao='/attrs/despesa/all/'+partidoParam
		}
		
		
  d3.json("/attrs/rodada", function(rodada){
d3.json("/attrs/despesatipo", function(despesatipo){
	d3.json("/attrs/partido", function(partido){
	d3.json(linkCandidatura, function(attr){
	  d3.json(linkPontuacao, function(data){
	 
		   inner_html = function(obj) {
         
          
          var htmlnovo= "<iframe id='iframe3' src='/despesa/boxdespesa/";
        	  htmlnovo+=obj+ "' style='width: 180px; height: 360px'></iframe>"
          return htmlnovo
        }
		   	
		  	clicker = function(obj) {
		        parent.window.location="/politica/politico/"+obj
		      }
		  	attrs=createCandidaturas(attr.candidaturas,partido.partidos)	;
		  	attrsRodada=createRodadas(rodada.rodadas);
		  	attrsDespesa=createDespesas(despesatipo.despesatipo);
		  	
	   		var attrsNovo = { "candidatura": attrs,"categoria":attrsDespesa}
		   	 
	   	data.despesas.forEach(function(d){
	   		if (attrsRodada[d.rodada].semana>50) alert(attrsRodada[d.rodada].semana)
	   		d.semanaRodada=1 //+ ""+attrsRodada[a.rodada].ano
	   		//alert()
			
		})
		
        viz = d3plus.viz()
          .type("stacked")
          .id("categoria")
          .attrs(attrsNovo) 
          .text("nome_despesatipo") //nome_despesatipo
          .value("valor")
          //.tooltip_info([ "nome_despesatipo", "valor", "rodada"])
          .yaxis("valor")
          .xaxis("semanaRodada")//nome_rodada
           .unique_axis("x")
         .color("cor_despesatipo")
          .stack_type("monotone")
           .year_var("ano")
           .year(2013)
          // .click_function(inner_html)
          //.layout("share")
        
        d3.select("#stackedDiv")
          .datum(data.despesas)
          .call(viz)
          
          
        
	  })
    })
  })
})
})
</script>

{% endblock %}