<!-- extend from about base layout -->

	{% extends "templates/admin.html" %}

{% block title %}: {% trans %}Rodada{% endtrans %}{% endblock %}

{% block admin_content %}
  <h1>{% trans %}Rodadas{% endtrans %}</h1>
  
   <table style="width:100%;float: left;">
    <tr>
	     <td>{% trans %}Rodada{% endtrans %} </td>
	     
	     <td>{% trans %}Início{% endtrans %}</td>
	      <td>{% trans %}Fim{% endtrans %}</td>
	      <td>{% trans %}Detalhes{% endtrans %}</td>
	</tr>
	
	
	<a class="app_links decision short icon {{ rodada.id }}" 
      			href="/comunicado/timeincompleto/?enviar=false" >time incompleto</a>
      			
      	<a class="app_links decision short icon {{ rodada.id }}" 
      			href="/comunicado/retornar/?enviar=false" >retornar</a>
      			
      			
     {% for rodada in rodadas %}
     
     <tr>
	     <td>{{ rodada.semana }}/{{ rodada.ano }} </td>
	     
	     <td>{{ rodada.inicio }}</td>
	      <td>{{ rodada.fim }}</td>
	      <td>
		<a class="app_links decision short icon {{ rodada.id }}" 

      href="/rodada/ver/{{ rodada.id }}" >{% trans %}Veja mais{% endtrans %}</a>

      
      	{% if admin %}
				<a class="app_links decision short icon {{ rodada.id }}" 
      			href="/admin/rodadaatualizar/{{ rodada.id }}" >Atualizar</a>
				<a class="app_links decision short icon {{ rodada.id }}" 
      			href="/admin/rodadaremover/{{ rodada.id }}" >Remover</a>
				<a class="app_links decision short icon {{ rodada.id }}" 
      			href="/admin/rodadaadicionar/{{ rodada.id }}" >Add</a>
      			<a class="app_links decision short icon {{ rodada.id }}" 
      			href="/comunicado/ultimarodada/{{ rodada.id }}?enviar=false&inicio=0&fim=50" >Comunicar</a>
      			<a class="app_links decision short icon {{ rodada.id }}" 
      			href="/comunicado/politicoultimarodada/{{ rodada.id }}?enviar=false&inicio=0&fim=50" >politico ultima rodada</a>
      			
      			
      			
      			

				Ativo? {{ rodada.ativo }}

		{% endif %}


		</td>
	</tr>
	
      
    {% endfor %}
    </table>
    
{% endblock %}

