<!-- extend from about base layout -->
{% if frame %}
	{% extends "templates/clean.html" %}
{% else %}
	{% extends "templates/site.html" %}
{% endif %}

{% block title %}: {% trans %}Órgão{% endtrans %}{% endblock %}

{% block body %}
  
  {% if orgao %}
   <table>
   
   <tr>
  <td> Sigla </td>
      <td> Descrição </td>
       <td> Total de Membros </td>
     </tr>
     
     {% for org in orgao %}
     <tr>
    <td>
      {% if frame  %}	
		   			<a href="#" onclick="top.window.location='/orgao/ver/{{ org.id }}/'">
		   		
		   		{% else %}	
		   			<a href="/orgao/ver/{{ org.id }}/">
		   		{% endif %}	
		   		
      {{ org.sigla }}</a>
      </td>
       <td>{{ org.desc }}</td>
     <td>{{ org.totalmembros }}</td>
      
      </tr>
    {% endfor %}
    </table>
    {% else %}
    Não foram órgãos em que este político é membro
    {% endif %}
    
    
    
{% endblock %}

