<!DOCTYPE html>
<html lang="{{ g.locale }}">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <title>
      Política Esporte Clube {% block title %}{% endblock %}
    </title>
      
    <link rel="shortcut icon" href="{{ dominio }}/static/img/favicon.ico?v=2"/>
    
    {% if not dominio %}
    	{% set dominio = "http://politicaesporteclube.com" %}
    {% endif %}
  

    {% block head %}
    {% endblock %}
    <meta http-equiv="X-UA-Compatible" content="IE=Edge"/>
    
  </head>
  
  <body style="margin: 0; font-family:'Arial'">
<img src="{{ dominio }}/static/img/pecbrasil/mail_header.jpg" width="100%"/>
    {% block content %}
    {% endblock %}
    
    {% block body %}
    {% endblock %}
    <br/>
    <center><a href="http://politicaesporteclube.com/">
    	<img src="{{ dominio }}/static/img/pecbrasil/jogueagora.png">
    	</img></a></center>
    	<br/>
   <img src="{{ dominio }}/static/img/pecbrasil/mail_footer.jpg"   width="100%"/>
    
  </body>
</html>