<!-- extend from base layout -->
{% extends "templates/base.html" %} {% block content %}

<div class="cabecalho">
	<div class="container">
		<ul class="list-inline menuTop">
			<li><a href="/">{% trans %}INÍCIO{% endtrans %}</a></li>
			<li><a href="/about">{% trans %}PEC BRASIL{% endtrans %}</a></li>
			<li><a href="/politica/classificacao">{% trans %}CLASSIFICAÇÃO{% endtrans %}</a></li>
			<li><a href="/politica/politico">{% trans %}TOP 100{% endtrans %}</a></li>
			<li><a href="/politica/partidos">{% trans %}PARTIDOS{% endtrans %}</a></li>
			<li><a href="/liga/">{% trans %}LIGAS{% endtrans %}</a></li>
			
			{% if g.user.is_authenticated() %}
			<li><a href="/politica/meu-partido/">{% trans %}MEU PARTIDO{% endtrans %}</a></li>
			<li><a href="/account/logout/">{% trans %}SAIR{% endtrans %}</a></li>
			{% endif %}
			
		</ul>
		<div class="qdUser">
			{% if g.user.is_authenticated() %}
			
					{% trans %}Olá{% endtrans %} {{ g.user.nickname }} 
					<!--
					<button class="btn-mini btn-xing">{% trans %}Minha Conta{% endtrans %}</button>
					-->
										
			{% else %}
			
			
			
			
			<form action="/account/login/" method="post" name="loginFace" style="float: left;width: 240px;">
			
			<input type="hidden" value="facebook" name="provider" id="provider">
			
			<a href="/account/login/">	{% trans %}ENTRAR{% endtrans %} </a> |  
			<button class="btn-mini btn-facebook">
			<i class="fa fa-facebook"></i> | 
			
			
	
		 <a id="Facebook" class="login_button" href="#Facebook"
			onclick="document.forms[0].submit()">

	
			{% trans %}Faça login com Facebook{% endtrans %}
			</a></button>
			
			
			
				</form>
			
			<div class="leon radio group" style="float: right; ">
				<div style="background-color: transparent;  color: white;" 
				id="leon_en" class="leon button small first"><a href="/set_lang/en">EN</a></div>
				<div style="background-color: transparent;  color: white;" 
				id="leon_pt" class="leon button small last"><a href="/set_lang/pt">PT</a></div>
			</div>
			
			{% endif %}
			
			
			
		</div>
		
	</div>	
</div>
{% if g.page_type != "home" %}
<div class="qdHome" style="height:130px; float:left;">
	
	<div class="conteudo" style="height:150px; text-align:left;"><br>
		<a href="/"><img  src="/static/img/pecbrasil/logo-topo.png" width="200"></a>
		<img  width="100" align="right" src="/static/img/pecbrasil/badge-participa.png">
		
	</div>
	
</div>
{% else %}
<div class="qdHome">
	
	<div class="conteudo" style="height:355px;">
		<img class="logo-topo" src="/static/img/pecbrasil/logo-topo.png">
		<img class="badge-topo" src="/static/img/pecbrasil/badge-participa.png">
		<div class="texto-topo">
			{% trans %}compare os deputados federais{% endtrans %} <br> 
			{% trans %}e escale os melhores para o seu time{% endtrans %}.
			
		</div>
	</div>
	
</div>
{% endif %}

		<!-- /#header -->
<div style="float:left; width:100%; text-align:center;">
	<div class="conteudo">

							{% for category, msg in
							get_flashed_messages(with_categories=true) %}
							<div id="server_message">
								<div class="decision flash-{{ category }}">
									{{ msg|safe }} <i id="close_message" class="icon-remove-sign"></i>
								</div>
							</div>
							{% endfor %} <div style="font-size:22px;">{% block body %}</div> {% endblock %}
							
							</div>
</div>

<!-- /#content -->



<div class="rodape">
	<div class="container">
		<div class="col-md-4" style="text-align: left; font-size:12px;">
			<h1 style="    color: white;  display: inline-block;    text-align: left; font-size: 26px;">Política Esporte Clube</h1>

			<span style="font-size:13px; display: inline-block; text-align: left; color: #333">Fantasy game que utiliza os dados da participação política de cada deputado na Câmara (Presença, Despesas, etc) para te ajudar a escalar o melhor time (partido) de políticos.  <a href="http://www2.camara.leg.br/transparencia" target='_blank' style="color:white;" title="Ir para o site"><i class="fa fa-external-link"></i></a>.<br> Monte seu time com os políticos que mais pontuam e dispute as ligas, mostrando que sua equipe é a melhor bancada política do Brasil.</span>

			<h1 style="    color: white;  float:left;  text-align: left; font-size: 18px; width: 100%;">Saiba mais</h1>
			<a style="color:white;" href="#">O que é?</a><br>
			<a style="color:white;" href="#">Onde consigo estes dados?</a><br>
			<a style="color:white;" href="#">Como jogar?</a><br>
		</div>
		<div class="col-md-3">
			<h1 style="    color: white;    text-align: left; font-size: 26px;">Quem curte?</h1>
			<div style="margin-left:-10px" class="fb-like-box" 
		 data-href="http://www.facebook.com/PoliticaEsporteClube" data-width="290" data-height="250"
									data-colorscheme="dark" data-show-faces="true"
			data-header="false" data-stream="false" data-show-border="false"></div>


		</div>
		<div class="col-md-5">
			
		<h1 style="    color: white;  float:left; margin-left:85px;  text-align: left; font-size: 26px;">cLASSIFICAÇÃO</h1>
			
		<div class="col-md-12" style="margin-left: 70px;">
			<div class="ranking_posicao" style="background-color:#ffd700;color: #b39700;">
				1º
			</div>
			<div class="ranking_partido">
				PARTIDO da causa 
			</div>
			<div class="ranking_pontos">
				46 <span >pontos</span>
			</div>
		</div>
		
		
		<div class="col-md-12" style="margin-left: 70px;">
			<div class="ranking_posicao" style="background-color:#ccc; color:#999;">
				2º
			</div>
			<div class="ranking_partido">
				PARTIDO da causa 
			</div>
			<div class="ranking_pontos">
				35  <span style="font-size: 12px;">pontos</span>
			</div>
		</div>
		
		
		<div class="col-md-12" style="margin-left: 70px;">
			<div class="ranking_posicao" style="background-color:#cd7f32; color: #905923;">
				3º
			</div>
			<div class="ranking_partido">
				PARTIDO da causa 
			</div>
			<div class="ranking_pontos">
				25  <span style="font-size: 12px;">pontos</span>
			</div>
		</div>
		
			<div class="col-md-12" style="margin-left: 70px; margin-top:10px; ">
			
			
			<h1 style="    color: white;  text-align: left;  display: inline-block; width:100%; font-size: 20px;">Compartilhe</h1>
			<span style="font-size:35px; text-align: left; float:left; text-align: left;">
				<a href="#" style="color:white;" title="Acompanhe"><i class="fa fa-facebook-square"></i></a>
				<a href="#" style="color:white;" title="Acompanhe"><i class="fa fa-twitter-square"></i></a>
				<a href="#" style="color:white;" title="Acompanhe"><i class="fa fa-linkedin-square"></i></a>
			</span>
			
			</div>
		</div>
	</div>
</div>





{% endblock %}
