{% extends "templates/clean.html" %}

{% block content %}
  
  {% set divId = 'bubblesDiv' %}
{% include "grafico/painelIframe.html" %}
  	<script src="/static/js/src/viz/bubbles.js"></script>
  	
  	
<div id="bubblesDiv" style="display: block"></div>


  <table>
  	<tr><th>Total de Votos</th>
   <th>Sim </th>
    <th>Não </th></tr>
  	
  <tr><td> <p id="valTotal"></p>  </td>
   <td> <div id="valSim"></div>  </td>
    <td> <div id="valNao"></div> </td></tr>
   </table>
    
  * Cada bola é um político, quando preenchida o voto foi sim e quando está na metade é um não


<script>
    
proposicao_id='{{ proposicao_id }}'
   
    linkCandidatura='/attrs/candidatura?limit=500'
    	linkPontuacao='/attrs/votacaoproposicao/'+proposicao_id
    
    politicoid=''   
    {% if politicoid %}
    	politicoid='{{ politicoid }}'
    {% endif %}
	
d3.json("/attrs/partido", function(partido){
	d3.json(linkCandidatura, function(attr){
	  d3.json(linkPontuacao, function(data){
	  	
	  	    
       
      var attrs = {}
        attr.candidaturas.forEach(function(a){
          a.candidatura = a.id
          partido.partidos.forEach(function(p){
	          if(p.id == a.partido){
	          	a.partidoNome = p.name_pt
	          	a.partidoSigla = p.sigla
	          	a.color = p.color
	          	
	          }	
	          
          })
          
          if(politicoid == a.candidatura){
	          	a.color='#000000'
	          }
          attrs[a.id] = a
        })
        
           var novodata = {};
      var novoAttrs={};
      var total=0; 
      var totalNao=0;
      var totalSim=0; 
      
        data.votacaocandidato.forEach(function(a){
        	if ( attrs[a.candidatura]!=null ){
        		total++;
        		if(a.voto=="1") {
        			a.votoDesc="Sim";
        			a.active =0;
        			totalSim++;
        		}else if(a.voto=="2")  {
        			a.votoDesc="Nao";
        			a.active =2;
        			totalNao++;
        		}else{
        			a.votoDesc="Abs";
        			a.active =1;
        		}
        		a.votoValue=2;
        		//a.active = Math.floor(Math.random()*2);
        		//novodata[a.candidatura]=a;
        		novoAttrs[a.candidatura]=attrs[a.candidatura];
        	}
        	
        }) ;
        
        document.getElementById('valTotal').innerHTML=total;
        document.getElementById('valSim').innerHTML=totalSim;
        document.getElementById('valNao').innerHTML=totalNao;
        	
      // data2010 = [data2010.filter(function(d){return d.year == 2010})[5]]
      // data2010[0].employed = 2
      // data2010[0].elsewhere = 4
      // data2010[0].total = 8
      
      clicker = function(obj) {
        parent.window.location="/politica/politico/"+obj
      }
      
      inner_html = function(obj) {
          console.log(obj)
          var htmlnovo= "<iframe id='iframe3' src='/politica/boxpolitico/";
        	  htmlnovo+=obj+ "' style='width: 180px; height: 360px'></iframe>"
          return htmlnovo
        }
      
      viz = d3plus.viz()
        .type("bubbles")
        .id("candidatura")
        .attrs(attrs)
        .value("votoValue")
        .text("name_pt")
        .tooltip_info(["votoDesc", "name_pt","partidoSigla"])
        //.grouping("votoDesc")
        .grouping("partidoSigla")
        //.grouping(["votoDesc","partidoNome"])
        .color("color")
        //.total_bar({"prefix": "Export Value: $", "suffix": " USD", "format": ",f"})
        //.year(2)
       // .year_var("rodada")
    //.active("active")
    // .total("votoValue")
     .total(2)
        .order(["partidoSigla","votoDesc"])
         .click_function(inner_html)
        //.click_function(function(d){return "Some HTML Content"})
        
      d3.select("#bubblesDiv")
        .datum(data.votacaocandidato)
        //.datum([novodata])
        
        .call(viz);
    
      // setTimeout(function(){
      // 
      //   d3.select("#viz")
      //     .datum(data2003)
      //     .call(viz)
      // 
      // },2000)
        
    });
  });
});  

</script>
    
{% endblock %}

