{% extends "templates/clean.html" %}

{% block content %}
  
  {% set divId = 'bubblesDiv' %}
{% include "grafico/painelIframe.html" %}

<div id="bubblesDiv"></div>
  
  
  	<script src="/static/js/src/viz/bubbles.js"></script>
  	
<script>
    
    partidoParam='{{ partido }}'
    if(partidoParam=='') {
		linkCandidatura='/attrs/candidatura'
		linkPontuacao='/attrs/pontuacao'
	}else{
		linkCandidatura='/attrs/candidatura/all/'+partidoParam
		linkPontuacao='/attrs/pontuacao/all/'+partidoParam
	}
	
    politicoid=''   
    {% if politicoid %}
    	politicoid='{{ politicoid }}'
    {% endif %}
	
d3.json("/attrs/partido", function(partido){
	d3.json(linkCandidatura, function(attr){
	  d3.json(linkPontuacao, function(data){
	  	
	  	    
       
      var attrs = {}
        attr.candidaturas.forEach(function(a){
          a.candidatura = a.id
          partido.partidos.forEach(function(p){
	          if(p.id == a.partido){
	          	a.partidoNome = p.name_pt
	          	a.partidoSigla = p.sigla
	          	a.color = p.color
	          	
	          }	
	          
          })
          
          if(politicoid == a.candidatura){
	          	a.color='#000000'
	          }
          attrs[a.id] = a
        })
      // data2010 = [data2010.filter(function(d){return d.year == 2010})[5]]
      // data2010[0].employed = 2
      // data2010[0].elsewhere = 4
      // data2010[0].total = 8
      
      clicker = function(obj) {
        parent.window.location="/politica/politico/"+obj
      }
      
      inner_html = function(obj) {
          console.log(obj)
          var htmlnovo= "<iframe id='iframe3' src='/politica/boxpolitico/";
        	  htmlnovo+=obj+ "' style='width: 180px; height: 360px'></iframe>"
          return htmlnovo
        }
      
      viz = d3plus.viz()
        .type("bubbles")
        .id_var("candidatura")
        .attrs(attrs)
        .value("pontos")
        .text_var("name_pt")
        
        .tooltip_info(["total_proposicao", "partidoNome", "pontos", "rodada","proposicao", "votacao", "processo"])
        //.grouping("candidatura")
        .grouping("partidoNome")
        .color("color")
        
        {% if rodada_atual %}
	        .year({{ rodada_atual.id}})
	        .year_var("rodada")
        
		{% endif %}
		
        
        .order("pontos")
         .click_function(inner_html)
         
        //.nesting(["nesting_0","nesting_1","nesting_2"])
        //.click_function(function(d){return "Some HTML Content"})
        // .grouping("category")
        //.total_bar({"prefix": "Export Value: $", "suffix": " USD", "format": ",f"})
        //.active_var("proposicao")
        
      d3.select("#bubblesDiv")
        .datum(data.pontuacoes)
        .call(viz);
    
      // setTimeout(function(){
      // 
      //   d3.select("#viz")
      //     .datum(data2003)
      //     .call(viz)
      // 
      // },2000)
        
    });
  });
});  

</script>
    
{% endblock %}

