{% extends "templates/clean.html" %}

{% block content %}
  
  
    
  {% set divId = 'bubblesDiv' %}
 
{% include "grafico/painelIframe.html" %}

<div id="bubblesDiv"></div>
  
  
  	<script src="/static/js/src/viz/bubbles.js"></script>
  	
<script>
    
    partidoParam='{{ partido }}'
    if(partidoParam=='') {
		linkCandidatura='/attrs/candidatura'
		linkPontuacao='/attrs/pontuacaorodada/3'
	}else{
		linkCandidatura='/attrs/candidatura/all/'+partidoParam
		linkPontuacao='/attrs/pontuacaorodada/3/all/'+partidoParam
	}
	
	
d3.json("/attrs/partido", function(partido){
	d3.json(linkCandidatura, function(attr){
	  d3.json(linkPontuacao, function(data){
	  	
	  	    
       
      var attrs = {}
        attr.candidaturas.forEach(function(a){
          a.candidatura = a.id
          partido.partidos.forEach(function(p){
	          if(p.id == a.partido){
	          	a.partidoNome = p.name_pt
	          	a.partidoSigla = p.sigla
	          	a.color = p.color
	          	
	          }	
	          
          })
          attrs[a.id] = a
        })
      // data2010 = [data2010.filter(function(d){return d.year == 2010})[5]]
      // data2010[0].employed = 2
      // data2010[0].elsewhere = 4
      // data2010[0].total = 8
      
	   	
      clicker = function(obj) {
        parent.window.location="/politica/partido/"+obj
      }
      
      inner_html = function(obj) {
          console.log(obj)
          var htmlnovo= "<iframe id='iframe3' src='/politica/boxpolitico/";
        	  htmlnovo+=obj+ "' style='width: 180px; height: 360px'></iframe>"
          return htmlnovo
        }
      
      viz = d3plus.viz()
        .type("bubbles")
        .id_var("candidatura")
        .attrs(attrs)
        .value("pontos")
        .text_var("name_pt")
        //.active_var("proposicao")
        .tooltip_info(["partidoNome" ,"rodada"
                       ,"pontos" ,"votacao","processo"
                       ,"despesa","presenca"
                       ,"proposicao"])
        .grouping("partidoSigla")
        .color("color")
        //.total_bar({"prefix": "Export Value: $", "suffix": " USD", "format": ",f"})
        //.year(2)
        .year_var("rodada")
        .aggs({"pontos":"sum"
        	,"proposicao":"sum"
        	,"votacao":"sum"
        		,"processo":"sum"
        			,"despesa":"sum"
        				,"presenca":"sum"
        		
        		})
        
        .click_function(inner_html)
        
      d3.select("#bubblesDiv")
        .datum(data.pontuacoes)
        .call(viz);
    
      // setTimeout(function(){
      // 
      //   d3.select("#viz")
      //     .datum(data2003)
      //     .call(viz)
      // 
      // },2000)
        
    });
  });
});  

</script>
    
{% endblock %}

