
<div style="width: 100%; float: left; font-family:'MohaveSemiBold'; color:#777; font-size: 18px;">

 
{% if valOption != 'false' %}
	<input type="radio" name="{{ iframeId }}_depth"
	id="{{ iframeId }}_depth_pontos"
		onclick="getElementByIframeId('{{ iframeId }}','pontos').click()" 		
		checked="checked"> 
		<label for="{{ iframeId }}_depth_pontos">Pontos </label>
		
		
	<input type="radio" name="{{ iframeId }}_depth" 
	id="{{ iframeId }}_depth_despesa"
		onclick="getElementByIframeId('{{ iframeId }}','despesa').click()">
	<label for="{{ iframeId }}_depth_despesa">Despesa </label>
	
		 <input type="radio" name="{{ iframeId }}_depth"
	id="{{ iframeId }}_depth_presenca"
		onclick="getElementByIframeId('{{ iframeId }}','presenca').click()">
	<label for="{{ iframeId }}_depth_presenca">Presença </label> 
	
	<input type="radio" name="{{ iframeId }}_depth" 
	id="{{ iframeId }}_depth_proposicao"
		onclick="getElementByIframeId('{{ iframeId }}','proposicao').click()">
	<label for="{{ iframeId }}_depth_proposicao">Proposição </label>
	
	<input type="radio" name="{{ iframeId }}_depth" 
	id="{{ iframeId }}_depth_votacao"
		onclick="getElementByIframeId('{{ iframeId }}','votacao').click()">
	<label for="{{ iframeId }}_depth_votacao">Votação </label>
	<br/>
{% endif %}

	 {% if anoOption == 'true' %}
			 <input type="radio" name="{{ iframeId }}_ano" 
		id="{{ iframeId }}_ano_2013" checked="checked"
			onclick="getElementByIframeId('{{ iframeId }}','ano2013').click()">
		<label for="{{ iframeId }}_ano_2013">2013 </label>
		
		<input type="radio" name="{{ iframeId }}_ano" 
		id="{{ iframeId }}_ano_2014"
			onclick="getElementByIframeId('{{ iframeId }}','ano2014').click()">
		<label for="{{ iframeId }}_ano_2014">2014 </label>
		<br/>
		  {% endif %}
		  
	 {% if funcOption == 'true' %}	  
	
	
	<input type="radio" name="{{ iframeId }}_func" 
	id="{{ iframeId }}_func_media" checked="checked"
		onclick="getElementByIframeId('{{ iframeId }}','media').click()">
	<label for="{{ iframeId }}_func_media">Média</label>
	
	<input type="radio" name="{{ iframeId }}_func" 
	id="{{ iframeId }}_func_total"
		onclick="getElementByIframeId('{{ iframeId }}','total').click()">
	<label for="{{ iframeId }}_func_total">Total</label>
	
	{% endif %}

 <a href="#{{ iframeId }}_depth_pontos" onclick="getElementByIframeId('{{ iframeId }}','share').click()">
 Compartilhar</a>
 
</div>
