
<div style="width: 100%; float: left; font-family:'Open Sans'; color:#777; font-size: 18px;">

<style>
label {
	font-size:15px;
	font-weight: normal;

}
</style>
 
{% if valOption != 'false' %}
<div style="float:left; width:450px;">
<h3>{% trans %}Dados{% endtrans %}</h3>

		<button name="{{ iframeId }}_depth"
	id="{{ iframeId }}_depth_pontos" class="btn btn-info btn-xs active"
		onclick="getElementByIframeId('{{ iframeId }}','pontos').click()">{% trans %}Pontos{% endtrans %}</button>
	
		
		<button name="{{ iframeId }}_depth"
	id="{{ iframeId }}_depth_despesa" class="btn btn-success btn-xs "
		onclick="getElementByIframeId('{{ iframeId }}','despesa').click()">{% trans %}Despesas{% endtrans %}</button>
		
		<button name="{{ iframeId }}_depth"
	id="{{ iframeId }}_depth_presenca" class="btn btn-success btn-xs "
		onclick="getElementByIframeId('{{ iframeId }}','presenca').click()">{% trans %}Presenças{% endtrans %}</button>
		
		<button name="{{ iframeId }}_depth"
	id="{{ iframeId }}_depth_proposicao" class="btn btn-success btn-xs "
		onclick="getElementByIframeId('{{ iframeId }}','proposicao').click()">{% trans %}Proposições{% endtrans %}</button>
		
		<button name="{{ iframeId }}_depth"
	id="{{ iframeId }}_depth_votacao" class="btn btn-success btn-xs "
		onclick="getElementByIframeId('{{ iframeId }}','votacao').click()">{% trans %}Votações{% endtrans %}</button>
	
	
		
	<br/>
</div>
{% endif %}

	 {% if anoOption == 'true' %}
	 <div style="float:left; width:200px;">
	<h3>{% trans %}Ano{% endtrans %}</h3>
			
		
		<button name="{{ iframeId }}_depth"
	id="{{ iframeId }}_ano_2013" class="btn btn-info active btn-xs "
		onclick="getElementByIframeId('{{ iframeId }}','ano2013').click()">2013</button>
		
		<button name="{{ iframeId }}_depth"
	id="{{ iframeId }}_ano_2014" class="btn btn-success btn-xs "
		onclick="getElementByIframeId('{{ iframeId }}','ano2014').click()">2014</button>
		<br/>
	</div>
		  {% endif %}
		  
	 {% if funcOption == 'true' %}	  
	
	<h3>{% trans %}Tipo{% endtrans %}</h3>
	
	
	
	<button name="{{ iframeId }}_func" 
	id="{{ iframeId }}_func_media" checked="checked"
		onclick="getElementByIframeId('{{ iframeId }}','media').click()" class="btn btn-info active btn-xs "
		>{% trans %}Média{% endtrans %}</button>
	
	<button name="{{ iframeId }}_func" 
	id="{{ iframeId }}_func_total" checked="checked"
		onclick="getElementByIframeId('{{ iframeId }}','total').click()" class="btn btn-success  btn-xs "
		>{% trans %}Total{% endtrans %}</button>
	
	{% endif %}

 
 
 
  {% if funcGrouping == 'true' %}	  
	
	<h3>{% trans %}Agrupar{% endtrans %}</h3>
	
	
	
	<button name="{{ iframeId }}_grouping" 
	id="{{ iframeId }}_grouping_media" checked="checked"
		onclick="getElementByIframeId('{{ iframeId }}','groupPartido').click()" class="btn btn-info active btn-xs "
		>{% trans %}Partido{% endtrans %}</button>
	
	<button name="{{ iframeId }}_grouping" 
	id="{{ iframeId }}_grouping_voto" checked="checked"
		onclick="getElementByIframeId('{{ iframeId }}','groupvotoDesc').click()" class="btn btn-success  btn-xs "
		>{% trans %}Voto{% endtrans %}</button>
	
	{% endif %}
	
</div>
