<!-- extend from about base layout -->
{% extends "templates/site.html" %}

{% block title %}: {% trans %}About the Site{% endtrans %}{% endblock %}

{% block content %}
  <h1>{% trans %} {% endtrans %}</h1>
  
  	<script src="/static/js/src/viz/rings.js"></script>
  	
<div id="viz"></div>
  
  
  
<script>

var viz = d3plus.viz()

d3.json("/static/json/attr_hs.json", function(attr) {
  d3.json("/static/json/network_hs.json", function(hs) {
    
    viz_nodes = hs.nodes
    viz_links = hs.edges
    viz_links.forEach(function(link){
      link.source = viz_nodes[link.source]
      link.target = viz_nodes[link.target]
    })
    
    d3.json("/static/json/products_mg.json", function(ps_data) {
      
      depths = [2,4,6]
      
      for (id in attr) {
        obj = attr[id]
        depths.forEach(function(d){
          if (d <= obj.id.length) {
            obj["nesting_"+d] = {"name":attr[obj.id.slice(0, d)].name, "id":obj.id.slice(0, d)}
          }
        })
      }
      
      ps_data.forEach(function(d){
        d.active = Math.floor(Math.random()*2);
      })
      
      format_test = function(data) {
        // console.log(data)
        return "Test JSON: "+data[10].name
      }
        
      clicker = function(obj) {
        // console.log(obj);
        return "Text"
        // return {"url": "data/attr_hs.json", "callback": format_test}
      }
      
      
      // var tooltips = {"short": ["id"],"long": {"basics":["id","val_usd"],"calculations":["distance", "complexity"]}}
      // var tooltips = {"short": ["id"],"long": ["id","val_usd","distance"]}
      // var tooltips = ["id","val_usd"]
      var tooltips = {"": ["id","distance"],"other": ["val_usd","distance"]}
      
      viz
        .type("rings")
        .text_var("name")
        .id_var("id")
        .links(viz_links)
        .nodes(viz_nodes)
        .attrs(attr)
        .value("val_usd")
        .highlight("116108") // women's undergarments
        // .highlight("020910") // ginger
        // .highlight("157202") // ferroalloys
        // .highlight("178703") // cars
        // .highlight("168480") // molding boxes
        .tooltip_info(tooltips)
        .nesting(["nesting_0","nesting_1","nesting_2"])
        .total_bar({"prefix": "Export Value: $", "suffix": " USD", "format": ",f"})
        .click_function(clicker)
        .descs({"id": "This is the ID! It means what you would expect it to mean. Another really long setence with multiple random words.", "val_usd": "...value. duh."})
        .data_source("<a href='www.google.com'>SECEX</a>")
        // .text_format(function(d){return d.toUpperCase()})

      d3.select("#viz")
        .datum(ps_data)
        .call(viz)    

    })
  })
})

</script>
  
  
  
{% endblock %}

