{% extends "templates/clean.html" %}

{% block content %}


 	<div id="stackedDiv"></div>

<script src="/static/js/src/viz/stacked.js"></script>

<script>
	var viz = d3plus.viz()

	d3.json("/attrs/time/{{ selecao }}//{{ liga }}", function(time) {
		//d3.json("/attrs/candidaturatime/{{ selecao }}", function(candidato) {
		//d3.json("/attrs/timecandidato/{{ selecao }}", function(timecandidato) {
			d3.json("/attrs/rodadapontos/{{ selecao }}/all/{{ liga }}", function(data) {

				var attrs = {}
					time.times.forEach(function(p) {
						p.time=p.id
						attrs[p.id]=p
					})
		

				viz.type("stacked")
				.id("time").attrs(attrs)
				.text("nome")
						.value("pontos")
						.yaxis("pontos")
          		.xaxis("rodada")
          		.unique_axis("x")
				.stack_type("monotone")
				//.tooltip_info([ "pontos", "rodada", "timeNome" ])

				
				d3.select("#stackedDiv").datum(data.rodadapontos).call(viz)

			//})		})
	})
	})
</script>


{% endblock %}