{% extends "templates/clean.html" %}

{% block content %}


 {% set divId = 'stackedDiv' %}
{% include "grafico/painelIframe.html" %}

 	<div id="stackedDiv"></div>

<script src="/static/js/src/viz/stacked.js"></script>

<script type="text/javascript">
	var viz = d3plus.viz()

	d3.json("/attrs/time/{{ selecao }}/{{ liga }}", function(time) {
		//d3.json("/attrs/candidaturatime/{{ selecao }}", function(candidato) {
		//d3.json("/attrs/timecandidato/{{ selecao }}", function(timecandidato) {
		d3.json("/attrs/rodada/", function(rodada) {
			d3.json("/attrs/rodadapontos/{{ selecao }}/all/{{ liga }}", function(data) {

				var attrs = {}
				var novoRodada = {}
					time.times.forEach(function(p) {
						p.time=p.id
						attrs[p.id]=p
					})
					
					rodada.rodadas.forEach(function(p) {
						novoRodada[p.id]=p
					})
					
					data.rodadapontos.forEach(function(p) {
						p.ano=novoRodada[p.rodada].ano
						p.semana=novoRodada[p.rodada].semana
					})
		

				viz.type("stacked")
				.id("time").attrs(attrs)
				.text("nome")
						.value("pontos")
						.yaxis("pontos")
          		.xaxis("semana")
          		.unique_axis("x")
				.stack_type("monotone")
				.year_var("ano")
				.year("2014")
				//.tooltip_info([ "pontos", "rodada", "timeNome" ])

				
				d3.select("#stackedDiv").datum(data.rodadapontos).call(viz)

			//})		})
			})
		})
	})
</script>


{% endblock %}