{% extends "templates/clean.html" %}

{% block content %}

 
 {% set divId = 'stackedDiv' %}
{% include "grafico/painelIframe.html" %}

 	<script src="/static/js/src/viz/stacked.js"></script>
 	
 	<script src="/static/js/src/nvd/nv.d3.js"></script>
 	<script src="/static/js/src/nvd/d3.v3.js"></script>
 	<link href="/static/css/nv.d3.css" rel="stylesheet" type="text/css">
 	
 	<div id="stackedDiv"></div>
 	
<script>

	partidoParam='{{ partido }}'
	politicoid=''   
   {% if politicoid %}
   	politicoid='{{ politicoid }}'
   {% endif %}
   
	if(partidoParam=='') {
		linkCandidatura='/attrs/candidatura'
		linkPontuacao='/attrs/pontuacao'
	}else{
		linkCandidatura='/attrs/candidatura/all/'+partidoParam
		linkPontuacao='/attrs/pontuacao/all/'+partidoParam
	}
		
  var viz = d3plus.viz()
	
	  
  d3.json("/attrs/rodada", function(rodada){
  d3.json("/attrs/partido", function(partido){
	d3.json(linkCandidatura, function(attr){
	  d3.json(linkPontuacao, function(data){
	  	
		  
       
			attrs=createCandidaturas(attr.candidaturas,partido.partidos)	;
		  	attrsRodada=createRodadas(rodada.rodadas);
		
		var attrsNovo = {"rodada": attrsRodada, "candidatura": attrs}
	  
	   		data.pontuacoes.forEach(function(a){
		   		if(attrsRodada[a.rodada]){
		   			dataTest=d3.time.format("%Y-%m-%d").parse(attrsRodada[a.rodada].inicio)
		   			//dataTest=attrsRodada[a.rodada].semana//+"-"+attrsRodada[a.rodada].ano
		   			dataTest=attrsRodada[a.rodada].semana //+ ""+attrsRodada[a.rodada].ano
		   			a.inicio=dataTest
		   		}
	   		})
	   		
	   		attr.candidaturas.forEach(function(a){
	   			if(a.id==politicoid)
	   				a.colorNovo='#000'
	   		})
	   		
	   	clicker = function(obj) {
        parent.window.location="/politica/politico/"+obj
      }
		  

		  inner_html = function(obj) {
	          console.log(obj)
	          var htmlnovo= "<iframe id='iframe3' src='/politica/boxpolitico/";
	        	  htmlnovo+=obj+ "' style='width: 180px; height: 360px'></iframe>"
	          return htmlnovo
	        }
		  
		  
      viz = d3plus.viz()
          .type("stacked")
          .id_var("candidatura")
          .attrs(attrs)
          .text_var("name_pt")
          .value("presenca")
          //.tooltip_info([ "partidoNome", "pontos", "rodada","name_pt","candidatura"])
          
          .yaxis("presenca")
          .xaxis("inicio")
         .unique_axis("x")

          .stack_type("monotone")
           .click_function(inner_html)
           
          //.layout("share")          
          .year_var("rodada_ano")
        
        .color("colorNovo")
        
        //Estes dois geram o erro do grouped com o nesting[depth] (depth =0,candidatura)
        //.nesting(["partido","candidatura"])
          //.depth("candidatura")
        
        d3.select("#stackedDiv")
          .datum(data.pontuacoes)
          .call(viz)
  
    })
  })
})
  })
  
  
   /*  
     var saidaJson = {}
     
     var saidaJson = { 
    dados : [] 
};

 var rodadasUsadas = { 
    dados : [] 
};

     d3.json("/attrs/rodada", function(rodada){
  d3.json("/attrs/partido", function(partido){
	d3.json(linkCandidatura, function(attr){
	  d3.json(linkPontuacao, function(data){
	  	
	  	
	  		attrs=createCandidaturas(attr.candidaturas,partido.partidos)	;
		  	attrsRodada=createRodadas(rodada.rodadas);
		  	
		  	data.pontuacoes.forEach(function(a){
		  		a.rodadaCompleta = attrsRodada[a.rodada]
		  		a.candidatoCompleta = attrs[a.candidatura]
		  		if(saidaJson.dados[a.candidatura]==null){
		  			saidaJson.dados[a.candidatura]={}
		  			saidaJson.dados[a.candidatura]["key"]=attrs[a.candidatura].name_pt
		  			saidaJson.dados[a.candidatura]["values"]=[]
		  		}
		  		dataTest=d3.time.format('%Y-%m-%d')(new Date(a.rodadaCompleta.inicio))
		  		dataTest=a.rodada
		  		dataTest=new Date(a.rodadaCompleta.inicio)
		  		dataTest=d3.time.format("%Y-%m-%d").parse(a.rodadaCompleta.inicio)
		  		saidaJson.dados[a.candidatura]["values"].push([dataTest,a.pontos,a.presenca,a.proposicao,a.votacao])//a.rodadaCompleta.inicio , a.pontos
		  		if(rodadasUsadas.dados[a.rodada]==null){
		  			rodadasUsadas.dados[a.rodada]={}
		  			rodadasUsadas.dados[a.rodada]["value"]=1
		  			rodadasUsadas.dados[a.rodada]["rodada"]=dataTest
		  			rodadasUsadas.dados[a.rodada]["time"]=dataTest.getTime()
		  			//{"key":dataTest,"value": true})
		  		}
		  	})
		  	//saidaJson = data.pontuacoes
		  	
		  	var saidaFinal = []
		  	var i=0;
			saidaJson.dados.forEach(function(a){
				
				//if(i==0 || i==1 || i==2) { //i==0 || 
					saidaFinal[i]={}
						saidaFinal[i]["key"]=a.key
				//a.values.forEach(function(a){})
				
					saidaFinal[i]["values"]=a.values
					
					rodadasUsadas.dados.forEach(function(r){
						var encontrou = false
						
						for(k=0;k<a.values.length;k++)
							if(new Date(r.rodada).getTime() == new Date(a.values[k][0]).getTime())
								encontrou = true
						if(!encontrou) a.values.push([r.rodada,0,0,0,0])
					})
					
				//}
				a.values = a.values.sort(function(obj1, obj2) {
	
					return obj1[0].getTime() - obj2[0].getTime();
				})
				i++;
			})
				
		
		//an example of harmonizing colors between visualizations
		//observe that Consumer Discretionary and Consumer Staples have 
		//been flipped in the second chart
		var colors = d3.scale.category20();
		keyColor = function(d, i) {return colors(d.key)};
		
		var chart;
		nv.addGraph(function() {
		  chart = nv.models.stackedAreaChart()
		               // .width(600).height(500)
		                //.useInteractiveGuideline(true)
		                .x(function(d) { return d[0] })
		                .y(function(d) { return d[4] })
		                .color(keyColor)
		                .transitionDuration(300);
		                //.clipEdge(true);
		
		// chart.stacked.scatter.clipVoronoi(false);
		
		 chart.xAxis.tickFormat(function(d) { return d3.time.format('%Y-%m-%d')(new Date(d)) });

		
		  //chart.yAxis.tickFormat(d3.format(',.2f'));
		
		  d3.select('#chart1')
		    .datum(saidaFinal) //histcatexplong
		    .transition().duration(0)
		    .call(chart);
		
		  nv.utils.windowResize(chart.update);
		
		 // chart.dispatch.on('stateChange', function(e) { nv.log('New State:', JSON.stringify(e)); });
		
		  return chart;
		});
		  
		  	
	})
  })
})
  })	   
*/
  
</script>

{% endblock %}