{% extends "templates/site.html" %}

{% block head %}

  <link type="text/css" rel="stylesheet" media="all" href="/static/css/styles.home.css" />

{% endblock %}

{% block body %}

 




<div class="lightbox guide_controls" style="display:none" id="guide_controls">
    <div id="guide_title">{% trans %}Veja mais{% endtrans %}</div>
	    
	    <a onclick="slide(this.id)" id="app0" class="app_links decision short icon tree_map">
	{% trans %}Como Funciona{% endtrans %}</a>
		
	<a onclick="slide(this.id)" id="app1" class="app_links decision short icon tree_map">
	{% trans %}Políticos que mais pontuaram na última rodada{% endtrans %}</a>
	
	<a onclick="slide(this.id)" id="app2" class="app_links decision short icon tree_map">
	 {% trans %}Partidos que mais pontuaram na última rodada{% endtrans %}</a>
	<!-- 
	<a onclick="slide(this.id)" id="app3" class="app_links decision short icon tree_map">
	Participação dos partidos durante este campeonato</a>
	 -->
	<a onclick="slide(this.id)" id="app3" class="app_links decision short icon tree_map">
	{% trans %}Atuação dos políticos em relação a seu partido{% endtrans %}</a>

</div>



	<div id="profile0" class="lightbox guide_app profileHome pecHome">
		
		<h1>{% trans %}O P.E.C. BRASIL É O JOGO QUE O PAÍS PRECISA{% endtrans %}.</h1>

    <h3>{% trans %}Eleja seus políticos e ganhe pontos a cada semana. Os pontos
      de cada representante é uma análise dos principais índices de
      contribuição na cena política nacional{% endtrans %}.</h3><br>
		<img alt="" src="/static/img/pecbrasil/passo-home.jpg"/>
		
		<br><br>
		
	</div>

</div>
</div>
<div class="divisor">
	<div class="conteudo">
		{% trans %}CONHEÇA ALGUMAS DAS{% endtrans %} <span>{% trans %}FERRAMENTAS{% endtrans %}</span> {% trans %}QUE VOCÊ USARÁ PARA{% endtrans %} <span>{% trans %}COMPARAR{% endtrans %}</span> {% trans %}OS DEPUTADOS{% endtrans %}
	</div>
</div>

<div id="wrap">

<div id="container">
 	<div id="profile1" class="lightbox guide_app profileHome" 
 	style=" height: 700px;
    padding-left: 60px;
    text-align: center;
    min-width: 910px;">   
    
	
	<h3 style="width: 100%; color:#27AE60; font-size:36px; text-align:left;"> {% trans %}Políticos que mais pontuaram na última rodada{% endtrans %}
     </h3>
	
	  {% set posicao = 0 %}
	  {% for candidatos in topPol %}
	  	{% set posicao = posicao + 1 %}
	  	{% set candidato = candidatos[0] %}
    	{% set backCard = 'True' %}
      	{% include "politica/boxpolitico.html" %}
      
    
    {% endfor %}
	</div>

	
	<div id="profile2" class="lightbox guide_app profileHome"
>
					<h3 style="width: 100%; color:#27AE60; font-size:36px; text-align:left;">{% trans %}Partidos que mais pontuaram na última{% endtrans %}
			rodada</h3>
		{% set iframeId = 'iframe1' %} 
		 {% set anoOption = 'false' %}
		  {% set funcOption = 'true' %}
		 
		{% include "grafico/painel.html" %}
		<iframe id="iframe1" alt="/grafico/treemap/"
			style="width: 858px; min-height: 500px"></iframe>
		
	</div>
	
	
	

<!-- 



	<div id="profile4" class="lightbox guide_app profileHome"
		style="padding-left: 60px;">

	</div>
	<div id="profile3" class="lightbox guide_app profileHome"
		style="">
		<h2 style="width: 90%">Participação dos partidos durante este
			campeonato</h2>
		{% set iframeId = 'iframe2' %} {% include "grafico/painel.html" %}
		<iframe id="iframe2" alt="/grafico/stacked/"
			style="min-width: 90%; min-height: 500px"></iframe>
	</div>


	<div id="profile3" class="lightbox guide_app profileHome"
		style="padding-left: 60px;">
		<h3 style="width: 100%; color:#27AE60; font-size:36px; text-align:left;">Atuação dos políticos em relação a seu
			partido</h3>
		{% set iframeId = 'iframe3' %} 
		 {% set anoOption = 'false' %}
		  {% set funcOption = 'false' %}
		{% include "grafico/painel.html" %}
		<iframe id="iframe3" alt="/grafico/bubbles/" 
			style="width: 858px; min-height: 700px; "></iframe>
	</div>
 -->
</div>
	

	<script>
      
    var width = window.innerWidth-380,
        height = window.innerHeight-149,
        builds = {},
        sliding = false,
        selected = null,
        scrollinterval = null

    d3.selectAll(".guide_app")
      //.style("width",width+"px")
      //.style("height",height+"px")
      .each(function(){ 
        var p = this.id.substring(7),
            t = this.offsetTop-10 //78
        builds[p] = {"loaded": false, "top": t}
       
        if (p == 1) {
          loadRun(p, true)
          select(p)
        }
      })
      initSlides();
  </script>
  </div>
 </div>
  <div class="divisor">
	<div class="conteudo">
		{% trans %}QUEM ESTÁ FALANDO SOBRE O{% endtrans %} <span>{% trans %}POLÍTICA ESPORTE CLUBE{% endtrans %}</span>
	</div>
</div>
    <div id="wrap">

<div id="container" style="text-align:justify; width: 500px;; padding-bottom: 30px;"><br><br><br>
	<a href="http://www.arede.inf.br/noticias/6434-game-que-transforma-deputadoes-em-time-de-futebol-vence-desafio-participa-br" target="_blank" style="float:left; width:33%; text-align: center;"><img alt="" src="/static/img/pecbrasil/arede-rodape.jpg"/></a>
	<a href="http://www.brasil.gov.br/ciencia-e-tecnologia/2013/12/idealizadores-de-aplicativos-cidadaos-sao-premiados" target="_blank" style="float:left; width:33%; text-align: center;"><img alt="" src="/static/img/pecbrasil/portalbrasil-rodape.jpg"/></a>
	<a href="http://www.softex.br/softex-participa-da-solenidade-de-premiacao-do-1o-desafio-de-ideias-para-aplicativos-do-participa-br/" target="_blank" style="float:left; width:33%; text-align: center;"><img alt="" src="/static/img/pecbrasil/softex-rodape.jpg"/></a>
	<br><br><br>
</div>

 <div  class="pecHomebottom">

 <div style="margin-left:20px" class="fb-like-box" data-href="http://www.facebook.com/PoliticaEsporteClube" data-width="220" data-height="350"
							data-colorscheme="light" data-show-faces="true"
data-header="false" data-stream="false" data-show-border="false"></div>

    </div>
    
	<div  class="pecHomebottom">
    <form id="ask_form" action="/ask/contact/" method="post">
      {{form.hidden_tag()}}
        <label for="question">{% trans %}Question{% endtrans %}</label>
        {{ form.question(id="question", placeholder="Ex. Where does the data come from?") }}
        {% for error in form.errors.question %}
        <span style="color: red;">[{{ error }}]</span>
        {% endfor %}
  
  <br/>
  
        {{ form.body(id="wysiwyg_textarea") }}
        {% for error in form.errors.body %}
        <span style="color: red;">[{{ error }}]</span>
        {% endfor %}
      
      <br/>
      
      <a href="#ask_form" class="submit" onclick='document.forms["ask_form"].submit()'>
        <div class="decision">
          <div class="text">{% trans %}Pergunte a nossa equipe!{% endtrans %}!</div>
          <div class="arrow"></div>
        </div>
      </a>
      
    </form>
    </div>
   
</div>

{% endblock %}