{% extends "templates/site.html" %}

{% block head %}

  <link type="text/css" rel="stylesheet" media="all" href="/static/css/styles.home.css" />

{% endblock %}

{% block body %}

 




<div class="lightbox guide_controls" style="display:none" id="guide_controls">
    <div id="guide_title">{% trans %}Veja mais{% endtrans %}</div>
	    
	    <a onclick="slide(this.id)" id="app0" class="app_links decision short icon tree_map">
	{% trans %}Como Funciona{% endtrans %}</a>
		
	<a onclick="slide(this.id)" id="app1" class="app_links decision short icon tree_map">
	{% trans %}Políticos que mais pontuaram na última rodada{% endtrans %}</a>
	
	<a onclick="slide(this.id)" id="app2" class="app_links decision short icon tree_map">
	 {% trans %}Partidos que mais pontuaram na última rodada{% endtrans %}</a>
	<!-- 
	<a onclick="slide(this.id)" id="app3" class="app_links decision short icon tree_map">
	Participação dos partidos durante este campeonato</a>
	 -->
	<a onclick="slide(this.id)" id="app3" class="app_links decision short icon tree_map">
	{% trans %}Atuação dos políticos em relação a seu partido{% endtrans %}</a>

</div>



	<div id="profile0" class="lightbox guide_app profileHome pecHome">
		
		<h1>{% trans %}ESCALE O PARTIDO QUE O PAÍS PRECISA{% endtrans %}.</h1>


    <span class="row">{% trans %}Analise os dados e eleja seus políticos. Ganhe pontos a cada semana dependendo da atuação de cada um dos seus escolhidos. Os pontos
      de cada representante é o resultado da análise semanal dos principais índices de
      contribuição na cena política nacional{% endtrans %} <sup>*</sup>.</span><br>
		
		
		</span>

		

		<div style="float:left; width:63%;">
			<img width="100%" src="/static/img/pecbrasil/passo-home.jpg"/><br><br>
			<span style="font-size:12px; float:left; width:100%;"><sup>*</sup> 
				
				{% trans %}As rodadas são analisadas pelos desempenho semanal dos políticos de acordo com os dados fornecidos pelo Portal de Transparência da Câmara Federal{% endtrans %} 
				<a href="http://www2.camara.leg.br/transparencia" target='_blank' title="Ir para o site"><i class="fa fa-external-link"></i></a></span>

		</div>
		<style>
			.signBx a { 
				color: white; 
				-webkit-transition-duration: 0.2s;
				-moz-transition-duration: 0.2s;
				-ms-transition-duration: 0.2s;
				-o-transition-duration: 0.2s;
				transition-duration: 0.2s;
			}
			.signBx a:hover { text-decoration:none;}
			
		</style>
		<div class="signBx" style="float:right; width:33%; background-color:#27ae60; border-radius:5px; box-shadow: 0px 0px 0px 3px #E6C400; padding:10px;">
		
			
				<h1 style="color:#fff!important; font-size:46px; margin-top:0px; padding-top:0px;">
					{% trans %}Monte seu time agora!{% endtrans %}</h1>
				<span style="font-size:15px; float:left; color:#165832; padding-bottom:10px;width:100%;">
					{% trans %}Inicie seu{% endtrans %} <b style="color:white">{% trans %}cadastro{% endtrans %}</b> 
					{% trans %}selecionando qual rede social você gostaria de linkar à sua conta do Política Esporte Clube.{% endtrans %}</span><br>
		<form action="/account/login/" method="post" name="login">
			
				{{ form.hidden_tag() }}
				
			{% for pr in providers %}  <a id="{{ pr }}" style="font-size:55px;" class="login_button_social_home fa fa-{% if pr=='Google' %}{{ pr|lower }}-plus{% else %}{{ pr|lower }}{% endif %}-square"
					href="javascript:;">&nbsp;</a> 
			{% endfor %}
		</form>
	</div>

<script type="text/javascript">
	d3.selectAll(".login_button_social_home").on(d3plus.evt.click, function() {
		var pr = this.id.toLowerCase()
		console.log(pr);
		form = document.forms['login'];
		form.elements['provider'].value = pr;
		//_gaq.push(['_trackEvent', 'Cadastro', pr , 'Home']);
		try{
		pageTracker._trackEvent( 'Cadastro', pr , 'Home')
		}catch(err) {}
		this.parentNode.submit();
		d3.event.preventDefault();
		return false;
	})
</script>

		
	</div>

</div>
<br><br>
</div>

<div class="divisor">
	<div class="conteudo">
		{% trans %}CONHEÇA ALGUMAS DAS{% endtrans %} <span>{% trans %}FERRAMENTAS{% endtrans %}</span> {% trans %}QUE VOCÊ USARÁ PARA{% endtrans %} <span>{% trans %}COMPARAR{% endtrans %}</span> {% trans %}OS DEPUTADOS{% endtrans %}
	</div>
</div>

<div id="wrap">

	<div id="container">
		
		
	 	<div id="profile1" class="lightbox guide_app profileHome" 
	 	style=" height: 700px;
		    padding-left: 60px;
		    text-align: center;
		    min-width: 910px;">   
		    
			
			<h3 style="width: 100%; color:#27AE60; font-size:36px; text-align:left;"> {% trans %}Políticos que mais pontuaram na última rodada{% endtrans %}
		     </h3>
			
			  {% set posicao = 0 %}
			  {% for candidatos in topPol %}
			  	{% set posicao = posicao + 1 %}
			  	{% set candidato = candidatos[0] %}
		    	{% set backCard = 'True' %}
		      	{% include "politica/boxpolitico.html" %}
		      
		    
		    {% endfor %}
		</div>


		<div id="profile2" class="lightbox guide_app profileHome" style="padding-left:60px;">
						<h3 style="width: 100%; color:#27AE60; font-size:36px; text-align:left;">{% trans %}Partidos que mais pontuaram na última{% endtrans %}
				rodada</h3>
			{% set iframeId = 'iframe1' %} 
			 {% set anoOption = 'false' %}
			  {% set funcOption = 'true' %}
			 
			{% include "grafico/painel.html" %}
			<iframe id="iframe2" src="/grafico/treemap/" alt="/grafico/treemap/" style="width: 858px; min-height: 500px"></iframe>
			
		</div>
		
		<div id="profile3" class="lightbox guide_app profileHome" style="padding-left:60px;">
				
			<iframe id="iframe3" src="/proposicao/novidades/?frame=true"  alt="/proposicao/novidades/?frame=true"  style="width: 858px; min-height: 500px"></iframe>
			
		</div>

	</div>
	

	<script>
      
    var width = window.innerWidth-380,
        height = window.innerHeight-149,
        builds = {},
        sliding = false,
        selected = null,
        scrollinterval = null

    d3.selectAll(".guide_app")
      //.style("width",width+"px")
      //.style("height",height+"px")
      .each(function(){ 
        var p = this.id.substring(7),
            t = this.offsetTop-10 //78
        builds[p] = {"loaded": false, "top": t}
       
        if (p == 1) {
          loadRun(p, true)
          select(p)
        }
      })
      initSlides();
  </script>
</div>
  
<div class="divisor">
	<div class="conteudo">
		{% trans %}QUEM ESTÁ FALANDO SOBRE O{% endtrans %} <span>{% trans %}POLÍTICA ESPORTE CLUBE{% endtrans %}</span>
	</div>
</div>





	<div id="container" style="text-align:justify; width: 500px;; padding-bottom: 30px;"><br><br><br>
		<a href="http://www.arede.inf.br/noticias/6434-game-que-transforma-deputadoes-em-time-de-futebol-vence-desafio-participa-br" target="_blank" style="float:left; width:33%; text-align: center;"><img alt="" src="/static/img/pecbrasil/arede-rodape.jpg"/></a>
		<a href="http://www.brasil.gov.br/ciencia-e-tecnologia/2013/12/idealizadores-de-aplicativos-cidadaos-sao-premiados" target="_blank" style="float:left; width:33%; text-align: center;"><img alt="" src="/static/img/pecbrasil/portalbrasil-rodape.jpg"/></a>
		<a href="http://www.softex.br/softex-participa-da-solenidade-de-premiacao-do-1o-desafio-de-ideias-para-aplicativos-do-participa-br/" target="_blank" style="float:left; width:33%; text-align: center;"><img alt="" src="/static/img/pecbrasil/softex-rodape.jpg"/></a>
		<br><br><br>
	</div>



  

{% endblock %}


{% block rodape %}
		<!--
<h1 style="    color: white;    font-size: 26px;">{% trans %}Contato{% endtrans %}</h1>
		    <form id="ask_form" action="/ask/contact/" method="post" style="line-height:11px;">
		      {{formAsk.hidden_tag()}}
		        <label for="question">{% trans %}Pergunta{% endtrans %}</label><br>
		        {{ formAsk.question(id="question", placeholder="Ex. De onde vieram os dados?", style="width: 100%; border: none; border-radius: 4px; font-size:12px; line-height:12px;") }}
		        <br/><br>
		         <label for="email">{% trans %}Email{% endtrans %}</label><br>
		        {{ formAsk.email(id="email", placeholder="meu@email.com", style="width: 100%; border: none; border-radius: 4px; font-size:12px; line-height:12px;") }}
		        <br/><br>
		        {% for error in formAsk.errors.question %}
		        <span style="color: red;">[{{ error }}]</span>
		        {% endfor %}
		  
		 
		  		<label for="wysiwyg_textarea">{% trans %}Mensagem{% endtrans %}</label><br>
		        {{ formAsk.body(id="wysiwyg_textarea", style="width: 100%; border: none; height:95px; border-radius: 4px; font-size:12px; line-height:12px;") }}
		        {% for error in formAsk.errors.body %}
		        <span style="color: red;">[{{ error }}]</span>
		        {% endfor %}
		      
		      <br/>
		      
		      <a href="#ask_form" class="submit" onclick='document.forms["ask_form"].submit()'>
		        <div class="decision">
		          <div class="text">{% trans %}Pergunte a nossa equipe!{% endtrans %}!</div>
		          <div class="arrow"></div>
		        </div>
		      </a>
		      
		    </form>
		   -->
		    	{% endblock %}
